.contact {
  width: 100%;
  background: var(--primary);
  position: relative;
  padding: rem(64) rem(24) rem(74);

  @include media(">=tablet") {
    padding: rem(167.2) rem(299) rem(146.9) rem(200);
  }
}

.contact__wrapper {
  @include media(">=tablet") {
    display: flex;
  }
}

.contact__info {
  flex: 1 1 auto;
  @include media("<tablet") {
    margin-bottom: rem(58);
  }

  @include media(">=tablet") {
    text-align: right;
    padding-right: rem(146);
  }
}

.contact__top-title {
  @extend %top-title;

  p {
    color: var(--white);
  }

  @include media(">=tablet") {
    display: none;
  }
}

.contact__title {
  margin-bottom: rem(20);
  @include media(">=tablet") {
    margin-bottom: rem(39);
  }

  h2 {
    @extend %title-77;
    color: var(--white);
    font-weight: var(--semi-bold);

    @include media(">=tablet") {
      font-weight: var(--bold);
      line-height: rem(76);
    }
    span {
      color: var(--danger);
      font-weight: var(--bold);
    }
  }
}

.contact__description {
  margin-bottom: rem(40);
  @include media(">=tablet") {
    margin-bottom: rem(61.3);
  }
  p {
    @extend %description-14-24;
    color: var(--white);
    font-weight: var(--light);
  }
}

.contact__address {
  p {
    @include size(20, 24);
    color: var(--secondary);
    font-weight: var(--medium);
    letter-spacing: -#{rem(1.5)};
    margin-bottom: rem(20);
  }

  address {
    @extend %description-12-16;
    color: var(--white);
    font-weight: var(--light);
    font-style: normal;
  }
}

.contact__form {
  flex: 1 1 100%;
  max-width: rem(780);
}

.contact__form-wrapper {
  padding-right: rem(10);
}

.contact__form-actions {
  .btn-basic-icon {
    font-weight: var(--semi-bold);
  }
}
