.footer {
  background-color: var(--color-turquoise-three);

  p,
  span,
  li,
  ul,
  a {
    line-height: rem(20) !important;
  }
}

.footer__wrapper {
  padding-top: rem(42);
  padding-bottom: rem(42);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(64);
  }

  @include media(">=desktop-s") {
    padding-left: rem(134);
    padding-right: rem(187);
  }
}

.footer__upper {
  @include media(">=tablet") {
    display: flex;
    gap: rem(32);
    justify-content: space-between;
  }
}

.footer__campus {
  @include media("<tablet") {
    margin-bottom: rem(47);
  }
}

.footer__campus-options {
  display: flex;
  align-items: center;
  gap: rem(12);
  margin-top: rem(24);
}

.footer__campus-links {
  display: flex;
  gap: rem(16);
  margin-top: rem(32);
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: rem(47);

  @include media("<tablet") {
    margin-bottom: rem(47);
  }

  @include media(">=tablet") {
    gap: rem(56);
  }
}

.footer__contact {
  ul {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    margin-top: rem(8);
  }

  li {
    display: flex;
    align-items: center;
    flex: 1;
    gap: rem(8);
    font-family: var(--font);
    color: var(--color-white);
    font-size: rem(16);
    line-height: 1.2;

    strong {
      font-weight: 600;
    }
  }
}

.footer__sub-title {
  color: var(--color-white);
  @include title-22;
  font-weight: 700;
}

.footer__campus-link {
  border-radius: rem(8);
  font-weight: 400;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);

  &[href]:hover,
  &[href]:focus {
    background-color: var(--color-light-turquoise);
    color: var(--color-black);
    border-color: var(--color-light-turquoise);
  }

  &:not([href]) {
    cursor: default;
  }
}

.footer__link {
  @extend .footer__campus-link;
  font-weight: 600;
  padding: rem(11) rem(15);
  font-size: rem(14);
  line-height: rem(19);

  // Text ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer__menu {
  padding-top: rem(24);
  padding-bottom: rem(42);
}

.footer__menu,
.footer__more__list {
  ul {
    margin-bottom: 0 !important;
  }

  > .menu-item {
    padding-left: 0 !important;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    > a,
    .menu-heading {
      color: var(--color-white);
      font-size: rem(16);
      font-weight: 600;
      line-height: 1.2;
      margin: 0 !important;
    }
  }

  .sub-menu {
    margin-top: rem(10);

    .menu-item {
      padding-left: 0 !important;

      &:not(:first-child) {
        margin-top: rem(10);

        @include media(">=phone") {
          margin-top: rem(8);
        }
      }

      a {
        font-size: rem(16);
        font-weight: var(--font-semi-bold);
        color: var(--color-white);
        text-transform: capitalize;
      }
    }
  }
}

.footer__book {
  font-weight: var(--font-semi-bold);
  color: var(--color-white);
}

.footer__bottom {
  padding-top: rem(47);

  @include media(">=tablet") {
    padding-top: rem(64);
  }
}

.footer__copy {
  color: var(--color-white);
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.footer__copy-desktop {
  @extend .footer__copy;
  text-align: center;

  @include media("<phone") {
    display: none;
  }
}

.footer__copy-mobile {
  @extend .footer__copy;

  @include media(">=phone") {
    display: none;
  }
}

.footer__social {
  display: flex;
  gap: rem(8);
}

.footer__social-item {
  padding: 0 !important;

  a {
    color: var(--color-white);
  }
}

.whatsapp-link,
.book-link {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
}

.whatsapp-link,
.book-link {
  bottom: rem(50);
  right: rem(13);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: rem(999);

  @include media(">=tablet") {
    right: rem(64);
  }

  @include media(">=desktop") {
    right: rem(132);
  }

  .sr-only {
    background: white;
    padding: 10px 15px;
    box-shadow: 0 3px 15px #00000026;
    margin-right: 24px;
    border-radius: 5px;
    font-weight: var(--font-semi-bold);
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent var(--color-white);
      border-left: rem(10) solid var(--color-white);
      border-bottom: rem(10) solid transparent;
      border-right: 0 solid transparent;
      border-top: rem(10) solid transparent;
      right: rem(70);
    }
  }
}

.whatsapp-link {
  cursor: pointer;

  &.is-loading {
    cursor: wait;
  }

  @include media(">=tablet") {
    bottom: rem(16);
  }
}

.book-link {
  bottom: rem(118);

  @include media(">=tablet") {
    bottom: rem(84);
  }
}

.whatsapp-link__icon,
.book-link__icon {
  border-radius: 999px;
  box-shadow: 0 3px 15px #00000026;
  width: rem(56);
  height: rem(56);
}
