.footer {
  background-color: var(--color-turquoise-three);

  p,
  span,
  li,
  ul,
  a {
    line-height: rem(20) !important;
  }
}

.footer__wrapper {
  padding-top: rem(32);
  padding-bottom: rem(32);

  @include media(">=tablet") {
    padding-top: rem(73);
    padding-bottom: rem(73);
  }
}

.footer__upper {
  max-width: rem(948);

  @include media(">=phone") {
    display: flex;
    gap: rem(32);
    justify-content: space-between;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(20);
  margin-bottom: rem(20);
  border-bottom: 1px solid var(--color-turquoise-one);

  @include media(">=phone") {
    max-width: rem(335);
    align-items: flex-start;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.footer__logo {
  width: rem(164);
  height: rem(152);
  margin-bottom: rem(20);

  @include media(">=phone") {
    width: rem(184);
    height: rem(170);
    margin-bottom: rem(36);
  }
}

.footer__cta--title {
  color: var(--color-white);
  @include title-28;
  margin-top: 0 !important;
  margin-bottom: rem(8) !important;
  text-align: center;

  @include media(">=phone") {
    text-align: left;
  }
}

.footer__cta--desc {
  text-align: center;
  color: var(--color-white);
  margin-bottom: rem(20) !important;
  font-family: var(--font);

  @include media(">=phone") {
    text-align: left;
    margin-bottom: rem(12) !important;
  }
}

.footer__cta--link {
  font-family: var(--font-inter);
  background-color: var(--color-white);
  border-radius: rem(8);
  width: 100%;
  max-width: rem(335);
  gap: rem(16);
  font-weight: var(--font-medium);

  @include media(">=phone") {
    font-weight: var(--font-medium);
  }

  img {
    width: rem(24);
    height: rem(24);
  }
}

.footer__right {
  @include media(">=phone") {
    width: rem(328);
  }

  @include media(">=desktop-s") {
    width: auto;
    display: grid;
    gap: rem(46);
    grid-template-columns: 1fr 1fr;
  }
}
.menu-navbar_menu_mobile_1-container {
  @include media(">=desktop-s") {
    margin-bottom: rem(50);
  }
}

.footer__right-col-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__menu__list,
.footer__more__list {
  ul {
    margin-bottom: 0 !important;
  }

  > .menu-item {
    padding-left: 0 !important;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    > a,
    .menu-heading {
      @include title-22;
      margin: 0 !important;
      color: var(--color-white);
      text-transform: capitalize;
    }
  }

  .sub-menu {
    margin-top: rem(20);

    .menu-item {
      padding-left: 0 !important;

      &:not(:first-child) {
        margin-top: rem(20);

        @include media(">=phone") {
          margin-top: rem(8);
        }
      }

      a {
        font-size: rem(16);
        font-weight: var(--font-semi-bold);
        color: var(--color-white);
        text-transform: capitalize;
      }
    }
  }
}

.footer__book {
  font-weight: var(--font-semi-bold);
  color: var(--color-white);

  img {
    margin-top: rem(6);
  }
}

.footer__book--desktop {
  padding-top: rem(24);

  @include media("<desktop-s") {
    display: none;
  }
}

.footer__book--mobile {
  @include media(">=desktop-s") {
    display: none;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column-reverse;
  gap: rem(36);
  max-width: rem(948);

  @include media(">=phone") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__bottom--copy {
  display: block;
  color: var(--color-white);
  font-weight: var(--font-medium);
  line-height: rem(24);
  text-align: center;
  font-family: var(--font-inter);

  @include media(">=phone") {
    text-align: left;
  }
}

.footer__bottom__social {
  color: var(--color-white);

  @include media(">=phone") {
    display: flex;
    gap: rem(16);
    align-items: center;
  }

  & > ul {
    margin-bottom: 0 !important;
  }

  & > span {
    display: block;
    text-align: center;
    margin-bottom: rem(12);

    @include media(">=phone") {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.footer__bottom__list {
  display: flex;
  justify-content: center;
  gap: rem(16);
}

.footer__bottom__item {
  padding: 0 !important;
}

.footer__divider {
  height: 1px;
  background-color: var(--color-turquoise-one);
  margin-top: rem(20);
  margin-bottom: rem(20);

  @include media(">=phone") {
    margin-top: rem(55);
    margin-bottom: rem(30);
  }
}

.footer__short-divider {
  width: rem(30);
  height: 1px;
  background-color: var(--color-white);
  margin-top: rem(20);
  margin-bottom: rem(20);

  @include media(">=desktop-s") {
    display: none;
  }
}

.whatsapp-link,
.book-link {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
}

.whatsapp-link {
  bottom: rem(50);
  right: rem(13);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: rem(999);

  @include media(">=tablet") {
    bottom: rem(16);
    right: rem(64);
  }

  @include media(">=desktop") {
    right: rem(132);
  }
  .sr-only {
    background: white;
    padding: 10px 15px;
    box-shadow: 0 3px 15px #00000026;
    margin-right: 24px;
    border-radius: 5px;
    font-weight: var(--font-semi-bold);
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent var(--color-white);
      border-left: rem(10) solid var(--color-white);
      border-bottom: rem(10) solid transparent;
      border-right: 0 solid transparent;
      border-top: rem(10) solid transparent;
      right: rem(70);
    }
  }
}

.whatsapp-link__icon {
  width: rem(56);
  height: rem(56);
}
.book-link {
  bottom: rem(120);
  right: rem(13);
  cursor: pointer;
  @include media(">=tablet") {
    right: rem(64);
  }

  @include media(">=desktop") {
    right: rem(132);
    bottom: rem(90);
  }
}

.footer__numbers {
  margin-top: rem(15);
  color: var(--color-white);
  font-weight: var(--font-medium);
  a {
    margin-bottom: rem(10);
  }
}
