.main-submenu-wrapper {
  position: fixed;
  left: 0%;
  top: rem(116);
  right: 0%;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: rgba(67, 72, 76, 0.8);
}
.main-submenu-wrapper__content {
  padding-top: rem(20);
}

.menu-item-has-children.is-open {
  a.has-link-parent {
    font-weight: var(--font-semi-bold);
    &::after {
      transform: translateY(-50%) rotate(-135deg);
    }
  }
}

.menu-item-has-children.is-open {
  .main-submenu-wrapper {
    display: flex;
  }

  .main-submenu-wrapper__main {
    position: relative;
    padding: rem(20) rem(24);
    border-radius: rem(12);
    max-width: rem(1066);
    width: 100%;
    background: linear-gradient(171deg, #fff 80.91%, #07c8cc 123.34%);
  }
  .menu-item-has-children > a {
    font-size: rem(18);
    font-weight: var(--font-semi-bold);
    color: var(--color-turquoise-two);
  }
  .sub-menu-parent {
    display: flex;
    gap: rem(100);
    .sub-menu {
      a {
        font-size: rem(16);
        padding: rem(12) 0;
        display: block;
        transition: font-weight 0.2s ease;
        &:hover {
          font-weight: var(--font-semi-bold);
        }
      }
    }
  }
}
.sub-menu-parent-tab.is-open {
  .main-submenu-wrapper__main {
    .sub-menu-parent {
      width: 100%;
      > li {
        display: none;
        width: 100%;

        &.is-active {
          display: flex;
        }
        > .sub-menu {
          width: 100%;
          display: flex;
          gap: rem(40);
          flex-wrap: wrap;
          > li {
            flex: 0 0 30.3333%;
            box-sizing: border-box;
          }
        }
      }
    }
    > .sub-menu {
      > li {
        > a {
          display: none;
        }
      }
    }
  }
}
.submenu-tab {
  &.has-active {
    padding-bottom: rem(20);
    border-bottom: 1px solid var(--color-secondary-grey);
  }
  button {
    font-size: rem(18);
    cursor: pointer;
    &.is-active {
      font-weight: var(--font-semi-bold);
    }
    &:not(:last-child) {
      margin-right: rem(48);
    }
  }
}
