.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar__wrapper {
  max-height: rem(64);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12);
  padding-bottom: rem(12);
  gap: rem(32);

  @include media(">=tablet") {
    height: rem(64);
    padding-top: 0;
    padding-bottom: 0;
    align-items: stretch;
  }
}

.navbar__logo {
  display: block;
  pointer-events: all;

  @include media(">=tablet", "<desktop-s") {
    display: none;
  }

  img {
    width: rem(144);
    height: auto;

    @include media(">=tablet") {
      width: rem(192);
    }
  }
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: all;

  @include media(">=tablet") {
    height: 100%;
  }
}

.navbar__menu-wrapper {
  display: none;

  @include media(">=tablet") {
    height: 100%;
    display: block;
  }
}

.navbar__menu,
.navbar__menu > ul,
.navbar__menu > ul > li {
  @include media(">=tablet") {
    height: 100%;
  }
}

.navbar__menu > ul > li > a {
  @include media(">=tablet") {
    height: 100%;
    display: flex !important;
    align-items: center;
  }
}

.navbar__menu {
  a {
    color: var(--color-black);
  }

  .menu-item-has-children > a {
    position: relative;
    padding-right: 24px;
  }
  .has-link-parent {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border: solid #00b7c2;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      display: inline-block;
      pointer-events: none;
      transform-origin: bottom bottom;
      transition: transform 0.3s ease;
    }
  }

  .menu-item-parent-page {
    margin-inline: rem(12);

    @include media(">=desktop-s") {
      margin-inline: rem(16);
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    & > a {
      display: inline-block;

      text-align: center;
    }
  }
  .menu-item {
    position: relative;
  }

  .main-submenu-wrapper {
    display: none;
  }
}

.navbar__menu-mobile {
  display: flex;
  gap: rem(12);

  @include media(">=tablet") {
    display: none;
  }
}
