.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: rem(12);
  padding-bottom: rem(12);
  gap: rem(32);

  @include media(">=desktop-s") {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  padding-top: rem(15);
  padding-bottom: rem(15);
  pointer-events: all;

  img {
    width: rem(144);
    height: auto;

    @include media(">=desktop-s") {
      width: rem(240);
    }
  }
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: all;

  li {
    padding-left: 0 !important;
  }

  * {
    line-height: normal !important;
  }
}

.navbar__menu-wrapper {
  display: none;

  @include media(">=desktop-s") {
    display: block;
  }
}

h4.has-link-parent {
  cursor: pointer;

  font-weight: var(--font-regular);
}

.navbar__menu {
  a,
  h4 {
    color: var(--color-black);
  }

  .menu-item-has-children > a,
  .menu-item-has-children > h4 {
    position: relative;
    padding-right: 24px;
  }
  .has-link-parent {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-100%) rotate(45deg);
      width: 8px;
      height: 8px;
      border: solid #00b7c2;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      display: inline-block;
      pointer-events: none;
      transform-origin: bottom bottom;
      transition: transform 0.3s ease;
    }
  }

  .menu-item-parent-page {
    margin-inline: rem(12);

    @include media(">=desktop-s") {
      margin-inline: rem(16);
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    & > a,
    & > h4 {
      display: inline-block;
      text-align: center;
      padding-top: rem(30);
      padding-bottom: rem(30);
    }
  }
  .menu-item {
    position: relative;
  }

  .main-submenu-wrapper {
    display: none;
  }
}

.navbar__menu-mobile {
  display: flex;
  gap: rem(12);

  @include media(">=desktop-s") {
    display: none;
  }
}
