.search-modal__wrapper {
  z-index: 10;
  position: fixed;
  inset: 0;
  background-color: var(--color-white);

  @include media(">=tablet") {
    left: 0;
    right: 0;
    bottom: 0;
    top: 7.25rem;
    display: flex;
    justify-content: center;
    background: rgba(67, 72, 76, 0.8);
  }
}

.search-form {
  display: flex;
  align-items: center;
  p {
    color: var(--color-white);
    font-size: rem(20);
    font-weight: var(--font-bold);
    margin-right: rem(12);
  }
  svg {
    color: var(--color-white);
  }
}
