.search-form {
  display: flex;
  align-items: center;
  p {
    color: var(--color-white);
    font-size: rem(20);
    font-weight: var(--font-bold);
    margin-right: rem(12);
  }
  svg {
    color: var(--color-white);
  }
}
