.search-form {
  display: flex;
  align-items: center;
  p {
    color: var(--color-white);
    font-size: rem(20);
    font-weight: var(--font-bold);
    margin-right: rem(12);
  }
  svg {
    color: var(--color-white);
  }
}

.search-modal__wrapper {
  display: none;
  z-index: 10;
  position: fixed;
  inset: 0;
  background-color: var(--color-white);

  &.is-active {
    display: block;
  }

  @include media(">=tablet") {
    left: 0;
    right: 0;
    bottom: 0;
    top: 7.25rem;
    display: none;
    justify-content: center;
    background: rgba(67, 72, 76, 0.8);

    &.is-active {
      display: flex;
    }
  }
}

.search-modal__wrapper__content {
  .sidebar__header {
    @include media(">=tablet") {
      display: none;
    }
  }

  @include media(">=tablet") {
    padding-top: rem(20);
    width: 100%;
    padding-inline: rem(188);
    max-width: rem(1440);
  }
}

.search-modal {
  padding: rem(33) rem(28);

  @include media(">=tablet") {
    padding: rem(24);
    background-color: var(--color-white);
    border-radius: rem(12);
    width: 100%;
  }
}

.search-modal__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(32);
    display: flex;
    justify-content: space-between;
    gap: rem(24);
  }
}

.search-modal__header--title {
  @include title-22;
}

.search-modal__header--close {
  display: none;

  @include media(">=tablet") {
    display: block;
  }
}

.search-modal__form form {
  display: flex;
  flex-wrap: wrap;
  gap: rem(24);

  @include media(">=tablet") {
    gap: rem(16);
  }
}

.search-field {
  border-radius: rem(8);
  border: 1px solid var(--color-asu-grey);
  padding: rem(16);
  display: flex;
  gap: rem(2);
  justify-content: space-between;
  width: 100%;

  @include media(">=phone-576") {
    max-width: rem(399);
  }

  input {
    width: 100%;

    ::placeholder {
      color: var(--color-black);
    }
  }
}

.search-modal__form--btn {
  width: 100%;
  cursor: pointer;

  @include media(">=phone-576") {
    width: auto;
  }
}
