.sidebar-container {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  background-color: var(--color-white);
  transition: 0.35s transform set-tsn("--easeInOutSine");
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;

  &.is-ready {
    display: block !important;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &.is-active {
    transform: translateX(0);
  }
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12);
  padding-bottom: rem(12);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.sidebar__logo {
  img {
    width: rem(106);
    height: auto;
  }
}

.sidebar__menu {
  flex: 1;
}

.sidebar__menu {
  padding: rem(16) 0;
  overflow: auto;

  display: flex;
  flex-direction: column;
  width: 100%;

  .menu-item {
    width: 100%;
    text-align: left;
    padding: rem(16);

    @include media(">=phone") {
      padding-inline: rem(24);
    }
  }

  a {
    font-size: rem(18);
    color: var(--color-black);

    &[aria-current="page"] {
      color: var(--color-light-turquoise);
    }
  }

  .menu-item-has-children > a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "";
      position: static;
      display: block;
      right: 4px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border: solid #00b7c2;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      display: inline-block;
      pointer-events: none;
    }
  }

  .sub-menu {
    display: none;
  }
}

.sidebar__footer {
  padding-top: rem(20);
  padding-bottom: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(32);
  background-color: var(--color-primary);

  @include media(">=phone") {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sidebar__social {
  display: flex;
  justify-content: flex-start;

  @include media(">=phone-576") {
    justify-content: center;
  }
}
