.sidebar-container {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--vh);
  background: var(--primary);
  transition: 0.35s transform set-tsn("--easeInOutSine");
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;

  &.is-ready {
    display: block !important;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &.is-active {
    transform: translateX(0);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0 rem(24);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.sidebar__logo {
  svg {
    width: 100%;
    height: auto;
    max-width: rem(130);
  }
}

.sidebar__close {
  .btn-icon {
    padding: 8px;
  }
}

.sidebar__nav {
  display: flex;
  flex: 1 1 auto;
  padding: rem(32) rem(8) rem(24);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  .menu-item {
    width: 100%;
    text-align: left;
  }

  a {
    @include size(32, 48);
    display: inline-flex;
    color: var(--white);
    font-weight: var(--semi-bold);
    padding: rem(8) 0;
    position: relative;

    &[aria-current="page"] {
      color: var(--secondary);
    }
  }
}

.sidebar__footer {
  padding: rem(24) 0;
  border-top: 1px solid rgba($color: $color-gray, $alpha: 0.3);
}

.sidebar__footer-phone {
  margin-bottom: rem(32);

  p {
    @include size(12, 20);
    color: var(--white);
    font-weight: var(--medium);
    text-align: center;

    &:last-child {
      @include size(14, 20);
      margin-bottom: rem(8);
    }
  }
}

.sidebar__footer-social {
  p {
    @include size(12, 20);
    color: var(--white);
    font-weight: var(--medium);
    text-align: center;
  }

  svg {
    width: rem(29.25);
    height: rem(29.25);
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(8);

    li {
      margin: 0 rem(12);
    }
  }
}
