.top-bar {
  display: none;

  @include media(">=tablet") {
    background-color: var(--color-primary);
    display: block;
  }
}

.top-bar__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(16);

  @include media(">=tablet") {
    padding: rem(7) rem(64);
  }

  @include media(">=desktop-s") {
    gap: rem(32);
  }
}

.top-bar__menu {
  display: flex;
  gap: rem(16);

  @include media(">=desktop-s") {
    gap: rem(32);
  }

  a {
    color: var(--color-white);
  }
}

.top-bar__right {
  display: flex;
  align-items: center;
  gap: rem(16);

  @include media(">=desktop-s") {
    gap: rem(32);
  }
}

.top-bar__search-form {
  height: rem(40);
  width: rem(260);
  padding: rem(12) rem(16);
  border-radius: rem(64);
  display: flex;
  align-items: center;
  color: var(--color-turquoise-three);
  background-color: var(--color-light-turquoise);
  gap: rem(8);

  @include media(">=desktop-s") {
    width: rem(328);
  }
}

.top-bar__search-input {
  flex: 1;
  font-size: rem(16);
  line-height: rem(24);
  color: var(--color-black);
  font-weight: var(--font-medium);
  font-family: "Inter", "Times New Roman", Times, serif;
}

.top-bar__search-input::placeholder {
  color: var(--color-turquoise-three);
  opacity: 1;
}

.top-bar__social-list {
  display: flex;
  gap: rem(8);
}

.top-bar__social-icon {
  width: rem(24);
  height: rem(24);

  @include media(">=desktop-s") {
    width: rem(32);
    height: rem(32);
  }
}
