.top-bar {
  display: none;

  @include media(">=tablet") {
    background-color: var(--color-primary);
    display: block;
  }
}

.top-bar__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(16);

  @include media(">=tablet") {
    padding: rem(7) rem(64);
  }

  @include media(">=desktop-s") {
    gap: rem(32);
  }
}

.top-bar__menu {
  display: flex;
  gap: rem(16);

  @include media(">=desktop-s") {
    gap: rem(32);
  }

  a {
    color: var(--color-white);
  }
}

.top-bar__right {
  display: flex;
  align-items: center;
  gap: rem(16);

  @include media(">=desktop-s") {
    gap: rem(32);
  }
}
