.top-bar {
  display: none;

  @include media(">=tablet") {
    background-color: var(--color-primary);
    display: block;
  }
}

.top-bar__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(16);

  @include media(">=tablet") {
    padding-top: rem(9);
    padding-bottom: rem(9);
  }

  @include media(">=desktop-s") {
    gap: rem(32);
  }
}

.top-bar__search {
}
