@import "./../../components/ui/nav-tabs";
@import "./../../components/ui/featured-news";
@import "./../../components/ui/entry-card";

@import "./news-tabs";
@import "./news-hero";
@import "./news";
@import "./last-news";

