@import "./../../components/ui/nav-tabs";
@import "./../../components/ui/featured-news";
@import "./../../components/ui/entry-card";
@import "./../../components/ui/pagination";
@import "./../../components/ui/hero-slide";

@import "./news-tabs";
@import "./news-hero";
@import "./all-news";
