.last-news__title {
  @include title-32;
  margin-bottom: rem(42);

  @include media(">=tablet") {
    @include title-28;
    margin-bottom: rem(24);
  }
}

.last-news__list {
  @include media("<tablet") {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
    gap: rem(16);
  }
}
