@font-face {
  font-family: "Nekst";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Light.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Medium.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Regular.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-SemiBold.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nekst";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Bold.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Nekst-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Light.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/wp-content/themes/#{$theme-folder}/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
