/**
 * set elements configuration
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  display: block;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea,
button {
  border-radius: 0;
  outline: none;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
}

textarea {
  resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

ul,
ol {
  display: block;
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

svg,
img {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

figure {
  margin: 0;
}

.clearfix {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
}

/**
 * Website default styles
 */
[style^="background-image"] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
