/**
 * root
 */

html,
body {
  font-size: var(--font-size);
}

body {
  font-family: var(--font);
  font-weight: var(--font-regular);
  font-optical-sizing: auto;
  color: var(--color-black);
  counter-reset: section;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  position: relative;
}

section {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: rem(6);
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar {
  width: rem(8);
  height: rem(8);
}

body.sidebar-open {
  height: 100dvh;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.d-none {
  display: none !important;
}

[data-hidden] {
  overflow: hidden;
}
[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
[data-content="paragraph"] {
  p,
  > div {
    margin-bottom: rem(15);
  }
  ul,
  ol {
    margin-left: rem(17);
    li {
      list-style-type: disc;
    }
    margin-bottom: rem(15);
  }
  ol {
    li {
      list-style-type: auto;
    }
  }
  a:not(.btn) {
    font-weight: var(--font-medium);
    color: var(--color-primary);
  }
}
