/**
 * root
 */

html,
body {
  font-size: var(--font-size);
}

body {
  font-family: var(--font);
  font-weight: var(--font-regular);
  color: var(--color-black);
  counter-reset: section;
}

main {
  width: 100%;
  overflow: hidden;
  position: relative;
}

section {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

body.sidebar-open {
  height: 100dvh;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/**
 * Site container
 */
.x-container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(16);
  padding-right: rem(16);
  position: relative;
  z-index: 1;

  @include media(">=phone") {
    padding-left: rem(24);
    padding-right: rem(24);
  }

  @include media(">=tablet") {
    padding-left: rem(111);
    padding-right: rem(111);
  }
}

.x-container-fluid {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(100);
  padding-right: rem(100);
  position: relative;
}

.x-wrapper {
  width: 100%;
  padding-left: rem(20);
  padding-right: rem(20);
}

.d-none {
  display: none !important;
}

[data-hidden] {
  overflow: hidden;
}
