/**
 * root
 */

html,
body {
  font-size: var(--font-size);
}

body {
  font-family: var(--font);
  font-weight: var(--font-regular);
  color: var(--color-black);
  counter-reset: section;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}

section {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

body.sidebar-open {
  height: 100dvh;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.d-none {
  display: none !important;
}

[data-hidden] {
  overflow: hidden;
}
