.thanks-page {
  background-color: var(--color-light-turquoise);
  min-height: calc(100dvh - var(--navbar-height-mobile));
  display: flex;
  flex-direction: column;

  @include media(">=tablet") {
    min-height: calc(100dvh - var(--navbar-height));
  }
}

.thanks-page__wrapper {
  padding: rem(34) rem(33);

  display: flex;
  flex-direction: column;
  flex: 1;

  @include media(">=phone-576") {
    justify-content: center;
    gap: rem(36);
  }
}

.thanks-page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include media(">=phone-576") {
    flex: none;
  }
}

.thanks-page__content--title {
  @include title-32;

  @include media(">=phone") {
    @include title-56;
    max-width: rem(440);
  }
}

.thanks-page__content--desc {
  @include title-20;
  margin-top: rem(4);

  @include media(">=phone") {
    @include title-36;
    max-width: rem(480);
  }
}

.thanks-page__actions {
  display: flex;
  justify-content: center;
}

.thanks-page__actions--btn {
  width: 100%;

  @include media(">=phone-576") {
    width: auto;
    min-width: rem(236);
  }
}
