.health {

}

.health__header {
  padding-top: rem(42);
  padding-bottom: rem(42);

  @include media(">=tablet") {
    padding-top: rem(38);
    padding-bottom: rem(9);
  }
}

.health__header--title {
  @include title-32;

  @include media(">=tablet") {
    @include title-62;
  }

  span {
    color: var(--color-primary);
  }
}

.health__testimonials {
  padding-top: rem(74);

  @include media(">=tablet") {
    padding-top: rem(47);
  }

  .testimonial__title {
    @include title-28;
    margin-bottom: rem(24);
  }
}
