.faculty-hero {
  .hero-slide__content--title {
    margin-bottom: rem(16);

    @include media(">=tablet") {
      height: auto;
      max-width: 75%;
      margin-bottom: rem(26);
    }
  }

  .swiper-pagination {
    display: none;
  }
}
