@import "./hero";
@import "./faculty-tabs";
@import "./faculty";
@import "./quote";
@import "./laboratories";
@import "./recognitions";
@import "./simple-events";
@import "./majors";
@import '../../components/ui/swiper-hero.scss';
@import "./../../components/ui/internationalization.scss";
