@import './../../components/ui/swiper-hero.scss';
@import "./../../components/ui/internationalization.scss";
@import "./../../components/ui/nav-tabs";
@import "./../../components/ui/testimonials";
@import "./../../components/ui/infra-card";
@import "./../../components/ui/program-card";
@import "./../../components/ui/event-card";

@import "./hero";
@import "./faculty-tabs";
@import "./faculty";
@import "./quote";
@import "./laboratories";
@import "./recognitions";
@import "./simple-events";
@import "./majors";

