.laboratories {
  padding-top: rem(42);

  @include media(">=tablet") {
    padding-top: rem(64);
  }
}

.laboratories--title {
  @include title-28;
  margin-bottom: rem(42);

  @include media(">=phone") {
    margin-bottom: rem(32);
  }
}

.laboratories--description {
  margin-bottom: rem(42);

  @include media(">=phone") {
    margin-bottom: rem(32);
  }
}

.laboratories__list {
  @include media("<phone") {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: rem(42);
  }
}

.laboratories__item {
  cursor: pointer;

  .infra-card {
    @include media(">=phone") {
      width: rem(305);
    }

    @include media(">=tablet") {
      width: 100%;
    }
  }
}

.laboratories__more {
  display: flex;
  justify-content: center;
  margin-top: rem(24);

  @include media(">=tablet") {
    margin-top: rem(16);
  }
}

.laboratories__more--btn {
  width: 100%;

  @include media(">=phone-576") {
    max-width: rem(300);
  }
}
