.laboratories {
  padding-top: rem(42);

  @include media(">=tablet") {
    padding-top: rem(64);
  }
}

.laboratories--title {
  @include title-28;
  margin-bottom: rem(42);

  @include media(">=phone") {
    margin-bottom: rem(32);
  }
}

.laboratories--description {
  margin-bottom: rem(42);

  @include media(">=phone") {
    margin-bottom: rem(32);
  }
}

.laboratories__list {
  @include media("<phone") {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: rem(42);
  }
}

.laboratories__item {
  cursor: pointer;

  .infra-card {
    @include media(">=phone") {
      width: rem(305);
    }

    @include media(">=tablet") {
      width: 100%;
    }
  }
}

.laboratories-modal {
  .modal-container {
    max-width: rem(760);
  }

  .modal-header {
    @include media(">=tablet") {
      padding: rem(24) rem(24) 0;
    }

    svg {
      @include media(">=tablet") {
        width: rem(32);
        height: rem(32);
      }
    }
  }

  .modal-body {
    padding: rem(24) rem(16);

    @include media(">=tablet") {
      padding: rem(24);
    }
  }
}

.laboratories-modal__content {
  // max-width: rem(490);
  margin-inline: auto;
}

.laboratories-modal__card {
  position: relative;
}

.laboratories-modal__card--img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
  border-radius: rem(8);

  @include media(">=tablet") {
    border-radius: rem(12);
  }
}

.laboratories-modal__card--desc {
  width: calc(100% - 32px);
  position: absolute;
  bottom: rem(4);
  left: 50%;
  transform: translateX(-50%);

  font-size: rem(14);
  padding: rem(4) rem(8);
  border-radius: rem(8);
  background-color: var(--color-primary);

  @include media(">=tablet") {
    width: calc(100% - 48px);
    border-radius: rem(12);
    padding-inline: rem(12);
  }
}

.laboratories__more {
  display: flex;
  justify-content: center;
  margin-top: rem(24);

  @include media(">=tablet") {
    margin-top: rem(16);
  }
}

.laboratories__more--btn {
  width: 100%;

  @include media(">=phone-576") {
    max-width: rem(300);
  }
}
