.majors__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(32);
  }
}

.majors__list {
  display: grid;
  gap: rem(32);

  @include media(">=phone") {
    grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
  }

  @include media(">=tablet") {
    gap: rem(15);
  }
}

.majors__cta {
  margin-top: rem(16);
  width: 100%;
  display: flex;
  justify-content: center;

  @include media(">=tablet") {
    margin-top: rem(42);
  }
}

.majors__cta-btn {
  width: 100%;
  max-width: rem(296);
  padding: rem(7) rem(15);

  @include media(">=tablet") {
    max-width: rem(328);
  }

  .icon--arrow {
    padding: rem(4);
  }
}
