.recognitions {
  margin-inline: rem(-16);
  margin-top: rem(74);
  background-color: var(--color-turquoise-two);
  padding: rem(32) rem(16);
  width: auto;

  @include media(">=phone") {
    margin-inline: rem(-24);
  }

  @include media(">=tablet") {
    margin-inline: 0;
    padding: rem(32);
    border-radius: rem(12);
    margin-bottom: rem(150);
  }
}

.recognitions__title {
  @include title-28;
  color: var(--color-white);
  margin-bottom: rem(24);
}

.recognitions__list {
  display: grid;
  gap: rem(16);
  margin-bottom: rem(50);

  @include media(">=phone") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recognitions__item {
  background-color: var(--color-white);
  border-radius: rem(20);
  padding: rem(24) rem(20);
  min-height: rem(120);
}

.recognitions__item-title {
  @include title-22;
  color: var(--color-primary);
  margin-bottom: rem(8);
}

.recognitions__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: rem(28);

  @include media(">=tablet") {
    margin-bottom: rem(26);
  }
}

.recognitions__cta-title {
  @include title-28;
  margin-bottom: rem(24);
  text-align: center;
}

.recognitions__cta-btn {
  background-color: var(--color-black);
  color: var(--color-white);
}
