.admission-hero {
  width: 100%;
}

.admission-hero__picture {
  width: 100%;
}

.admission-hero__picture--img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 6/5;
  max-height: rem(500);

  @include media(">=tablet") {
    aspect-ratio: 1/2;
    max-height: rem(770);
  }
}
