.admission__wrapper {
  padding-top: rem(28);
  padding-bottom: rem(28);

  @include media(">=tablet") {
    padding-top: rem(63);
    padding-bottom: rem(56);
  }
}

.admission__title {
  @include title-28;
  padding-bottom: rem(20);
  max-width: rem(495);

  @include media(">=tablet") {
    padding-bottom: rem(42);
  }
}

.admission__faq__wrapper {
  padding-bottom: rem(64);
}

.admission__cta__wrapper {
  padding-bottom: rem(64);
}

.contact-form-admission {
  display: block;
  @include media(">=desktop-s") {
    display: none;
  }
}

.contact-form-admission__wrapper {
  padding-top: rem(24);
  @include media(">=tablet") {
    padding-top: rem(48);
  }
}
