.beca18__title {
  @include title-32;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
    margin-bottom: rem(26);
  }
}

.beca18__description {
  strong {
    font-weight: var(--font-semi-bold);
  }
}

.beca18__content {
  & > *:not(:last-child) {
    margin-bottom: rem(42);
  }
}

.beca18__more-info {
  .event-card {
    margin-top: rem(12);
    max-width: rem(328);
  }

  .event-card--img {
    height: rem(172);
  }

  .event-card--title {
    font-size: rem(25);
  }

  .event-card--info--title {
    font-size: rem(18);
  }

  .event-card--info--desc {
    font-size: rem(25);
  }

  .event-card--content {
    padding: rem(19) rem(14) rem(7);
    gap: rem(24);
  }
}

.beca18__btn {
  width: 100%;
  max-width: rem(328);
}

.beca18-wrapper {
  .layout__right {
    display: none;

    @include media(">=desktop-s") {
      display: block;
    }
  }
}
