.admission-hero {
  position: relative;
}

.admission-hero__form__wrapper {
  position: absolute;
  display: none;
  inset: 0;
  pointer-events: none;

  @include media(">=desktop-s") {
    display: block;
  }
}

.admission-hero__form {
  width: rem(496);
  position: absolute !important;
  pointer-events: all;
  right: rem(108);
  top: rem(20);
}
