@import "./../../components/ui/accordion";
@import "./../../components/ui/hero-slide";
@import "./../../components/ui/faq-section";
@import "./../../components/ui/cta-card";
@import "./../../components/forms";

@import "./admission";
@import "./hero";
@import "./modality-accordion";

