.layout {
  display: flex;
  flex-direction: column-reverse;
  margin-top: rem(43);
  margin-bottom: rem(64);
  gap: rem(67);

  @include media(">=desktop-s") {
    flex-direction: row;
    margin-top: rem(88);
    margin-bottom: rem(83);
    gap: rem(24);
  }
}

.layout__left {
  @include media(">=desktop-s") {
    flex: 1;
  }
}

.layout__right {
  @include media(">=desktop-s") {
    width: rem(392);
  }
}
