.mega_menu {
  display: none;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  margin: 0;
  padding: 0;
  transform: translateY(119px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;

  &.visible {
    display: block !important;
  }

  &__inner {
    width: 100%;
  }

  &__item {
    display: none;
    flex-flow: row wrap;
    width: 100%;

    &.visible {
      display: flex !important;
    }

    [data-special='1'] {
      background-color: var(--color-white-lilac);

      ul {
        a {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          color: var(--color-primary);

          &:hover {
            color: var(--color-accent);

            svg {
              transform: translateX(5px);
            }
          }
        }

        span {
          display: inline-block;
          max-width: calc(100% - 16px);
          padding: 0 5px 0 0;
        }
      }
    }
  }

  &__column {
    width: 100%;
    padding: 30px;

    &__headline,
    &__menu {
      width: 100%;
    }

    &__headline {
      width: 100%;
      margin: 0 0 20px;

      h6 {
        font-weight: var(--semi-bold);
        font-size: 16px;
        color: var(--color-primary);
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background-color: var(--color-accent);
          transform: translateY(5px);
          position: absolute;
          top: 100%;
          left: 0;
        }
      }
    }

    &__menu {
      li {
        display: block;
        margin: 5px 0;
      }

      a {
        display: inline-block;
        font-size: 14px;
        color: var(--color-tuna);
        padding: 2px 0;
        transition: color var(--def-transition-300ms);

        &:hover {
          color: var(--color-primary);
        }

        &.active {
          color: var(--color-primary);
          text-decoration: underline;
        }
      }

      svg {
        width: 16px;
        height: 16px;
        transition: transform var(--def-transition-300ms);
      }
    }
  }
}
