$custom: (
  box-shadow: 0 12px 16px set-color(--color-primary, 0.1),
  box-shadow-active: 0 12px 16px set-color(--color-primary, 0.2),
  box-shadow-v2: 0 12px 16px -4px set-color(--color-primary, 0.08),
);
