.admission__header {
  margin-bottom: rem(53);
}
.admission__wrapper {
  padding-top: rem(44);
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(80);
  }
}

.admission__title {
  @include title-36;
  margin-bottom: rem(24);
}

.admission__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(32);
}
.admission-card {
  border: 1px solid var(--color-primary);
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-light-turquoise);
}
.admission-card__header {
  margin-bottom: rem(89);
}

.admission-card__content {
  flex-grow: 1;

  padding: rem(20) rem(16);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 rem(20) rem(20);
}

.admission-card__title {
  @include title-22;
  font-weight: var(--font-bold);
  margin-bottom: rem(12);
}

.admission-card__paragraph {
  color: var(--color-asu-grey);
}
.admission-card__footer {
  display: flex;
  justify-content: flex-end;
}
