.benefits {
  padding-top: rem(44);
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(80);
  }
}

.benefits__title {
  @include title-28;
  margin-bottom: rem(32);

  @include media(">=tablet") {
    @include title-36;
    margin-bottom: rem(36);
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
  gap: rem(32);

  @include media(">=tablet") {
    column-gap: rem(40);
    row-gap: rem(43);
  }
}

.benefits__item-icon {
  height: rem(40);
  width: auto;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(8);
}

.benefits__item-title {
  @include title-22;
  color: var(--color-primary);
}
