.career-field {
  padding-top: rem(44);
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-top: rem(92);
    padding-bottom: rem(112);
  }
}

.career-field__title {
  @include title-28;
  margin-bottom: rem(16);

  @include media(">=tablet") {
    @include title-36;
    margin-bottom: rem(24);
  }
}

.career-field__description {
  max-width: rem(390);
}

.career-field__list {
  padding-top: rem(24);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(154), 1fr));
  gap: rem(16);

  @include media(">=phone-576") {
    grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
  }

  @include media(">=tablet") {
    column-gap: rem(92);
    row-gap: rem(85);
    padding-top: rem(84);
  }
}

.career-field__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(8);
}

.career-field__item-number {
  font-size: rem(15.4);
  font-weight: var(--font-bold);
  letter-spacing: 0.35px;
  background: var(--color-light-turquoise);
  width: rem(28);
  height: rem(28);
  border-radius: 999px;
  padding: rem(6.65) rem(2.8) rem(5.95) rem(3.51);
  text-align: center;
}

.career-field__item-title {
  font-size: rem(16);
  font-weight: var(--font-bold);
  color: var(--color-turquoise-three);
}
