.career-intro {
  padding-top: rem(44);
}

.career-intro__title {
  @include title-32;

  @include media(">=tablet") {
    font-size: rem(62);
    line-height: 110%;
    font-weight: var(--font-semi-bold);
    max-width: rem(963);
  }

  strong {
    color: var(--color-primary);
  }
}

.career-intro__content {
  margin-top: rem(24);
  margin-bottom: rem(24);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-secondary-grey);
  border-radius: rem(20);

  @include media(">=phone") {
    flex-direction: row;
  }

  @include media(">=tablet") {
    max-width: rem(1014);
    margin-top: rem(76);
    margin-bottom: rem(76);
  }
}

.career-intro__visual--img {
  width: 100%;

  object-fit: cover;

  @include media(">=phone") {
    flex-direction: 59%;
  }
}

.career-intro__summary {
  padding: rem(16) rem(16) rem(20);
  display: flex;
  flex-direction: column;

  @include media(">=phone") {
    justify-content: center;
  }

  @include media(">=tablet") {
    padding-left: rem(32);
  }
}

.career-intro__summary-name {
  @include title-22;
  padding-bottom: rem(20);
}

.career-intro__list {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.career-intro__list-row {
  display: flex;
  gap: rem(16);

  & > :first-child {
    width: 48%;

    @include media(">=tablet") {
      max-width: rem(144);
    }
  }
}

.career-intro__item {
  strong {
    font-weight: var(--font-semi-bold);
    margin-bottom: rem(4);
  }
}

.career-intro__highlight {
  display: block;
  @include title-22;
  color: var(--color-turquoise-two);
}

.career-intro__detail {
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-bottom: rem(119);
  }
}

.career-intro__detail-title {
  @include title-22;
  margin-bottom: rem(12);

  @include media(">=tablet") {
    @include title-28;
    margin-bottom: rem(24);
  }
}

.career-intro__detail-content {
  @include media(">=phone") {
    columns: 2;
  }

  @include media(">=tablet") {
    gap: rem(24);
    max-width: rem(808);
  }

  p {
    margin-bottom: rem(16);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
