.curriculum-legend__wrapper {
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-bottom: rem(151);
  }
}

.curriculum-legend__header {
  margin-bottom: rem(16);
}

.curriculum-legend__title {
  @include title-22;
  margin-bottom: rem(16);

  @include media(">=tablet") {
    @include title-28;
  }
}

.curriculum-legend__logo {
  height: rem(40);
  width: auto;
}

.curriculum-legend__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: rem(12);
  margin-bottom: rem(24);

  @include media(">=tablet") {
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(32);
    row-gap: rem(16);
    margin-bottom: rem(51);
  }
}

.curriculum-legend__item {
  display: flex;
  align-items: center;
  gap: rem(16);
}

.curriculum-legend__dot {
  padding: rem(4);
}

.curriculum-legend__notes {
  list-style-type: disc;
  gap: rem(42);
  margin-left: rem(16);

  @include media(">=phone-576") {
    columns: 2;
  }

  @include media(">=tablet") {
    max-width: rem(782);
  }
}

.curriculum-legend__note {
  color: var(--color-asu-grey);
  @include description-14;
  list-style-type: disc;

  &:not(:last-child) {
    margin-bottom: rem(16);
  }
}
