@import "./../../components/ui/swiper-hero.scss";
@import "./../../components/ui/internationalization";
@import "./../../components/ui/accordion";
@import "./../../components/ui/nav-tabs";
@import "./../../components/ui/faq-section";
@import "./../../components/ui/infra-card";
@import "./../../components/ui/testimonials";
@import "./../../components/forms";
@import "./../../components/ui/rich-text-modal";
@import "./../../components/ui/details-modal.scss";

@import "./career-tabs";
@import "./career-intro";
@import "./benefits";
@import "./career-field";
@import "./program-curriculum";
@import "./curriculum-legend";
@import "./teaching-staff";
@import "./infrastructure";
@import "./admission";
@import "./hero";
