@import "./career-tabs";
@import "./career-intro";
@import "./benefits";
@import "./career-field";
@import "./program-curriculum";
@import "./curriculum-legend";
@import "./teaching-staff";
@import "./infrastructure";
@import "./admission";
@import "./hero";

@import "./../../components/ui/internationalization.scss";
@import "./../../components/ui/accordion.scss";
@import "./../../components/ui/nav-tabs";
@import "./../../components/ui/faq-section";
@import "./../../components/forms.scss";
