.infrastructure__wrapper {
  padding-top: rem(40);
  padding-bottom: rem(120);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(90);
  }
}

.infrastructure__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(45);
  }
}

.infrastructure__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
  }
}

.infrastructure__description {
  max-width: rem(390);
}

.infrastructure__list {
  @include media("<phone") {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: rem(24);
  }
}

.infrastructure-card {
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  @include media(">=phone") {
    width: rem(305);
  }
}

.infrastructure-card__image {
  img {
    width: 100%;
    height: rem(200);
    object-fit: cover;
  }
}

.infrastructure-card__body {
  flex-grow: 1;
  background-color: var(--color-light-turquoise);
  padding: rem(24) rem(16);
}

.infrastructure-card__name {
  @include title-18;
  margin-bottom: rem(8);
}

.infrastructure-card__description {
}
