.infrastructure__wrapper {
  padding-top: rem(40);
  padding-bottom: rem(74);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(62);
  }
}

.infrastructure__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(83);
  }
}

.infrastructure__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
  }
}

.infrastructure__list {
  @include media("<phone") {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: rem(24);
  }
}

.infrastructure__item {
  .infra-card {
    @include media(">=phone") {
      width: rem(305);
    }

    @include media(">=tablet") {
      width: auto;
    }
  }
}
