.infrastructure__wrapper {
  padding-top: rem(40);
  padding-bottom: rem(74);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(62);
  }
}

.infrastructure__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(83);
  }
}

.infrastructure__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
  }
}
