.internationalization__wrapper {
  padding-top: rem(44);
  padding-bottom: rem(96);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(96);
  }
}

.internationalization__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(58);
  }
}

.internationalization__title {
  @include title-28;

  @include media(">=tablet") {
    @include title-36;
  }
}

.internationalization__content {
  background-color: var(--color-engineering);
  border-radius: rem(12);
  padding: rem(20);

  @include media(">=tablet") {
    padding: rem(44);
    border-radius: rem(20);
  }
}

.internationalization__highlight {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  @include media(">=phone") {
    flex-direction: row;
  }
}

.internationalization__highlight-text {
  @include media(">=phone") {
    width: 75%;
  }
}

.internationalization__highlight-subtitle {
  @include title-22;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-28;
  }
}

.internationalization__highlight-logo {
  width: auto;
}

.internationalization__highlight-description {
  @include description-18;

  & > *:not(:last-child) {
    margin-bottom: rem(16);
  }
}

.internationalization__divider {
  margin: rem(24) 0;
  border: 1px solid var(--color-black);

  @include media(">=tablet") {
    margin: rem(48) 0;
  }
}

.internationalization__agreements-header {
  max-width: rem(444);
  margin-bottom: rem(20);

  @include media(">=tablet") {
    margin-bottom: rem(34);
  }
}

.internationalization__agreements-title {
  @include title-22;
  margin-bottom: rem(20);

  @include media(">=tablet") {
    @include title-28;
    margin-bottom: rem(24);
  }
}

.internationalization__agreements-description {
  @include description-18;
}

.internationalization__countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(124), 1fr));
  gap: rem(24);
}

.internationalization__country-card {
  width: rem(124);
  background-color: var(--color-white);
  border-radius: rem(24);
  padding: rem(24) 0;
  text-align: center;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.internationalization__country-flag {
  width: rem(80);
  height: rem(80);
  margin: 0 auto rem(16);
}

.internationalization__country-name {
  @include title-18;
}
