.program-committee__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
  }
}

.program-committee__content {
  width: 100%;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(64);
  }
}

.program-committee__slides {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(96);
  }
}

.program-committee-swiper__slide {
  @include media("<desktop-s") {
    width: rem(305) !important;
  }
  width: auto;
}

.program-committee__card {
  border: 1px solid var(--color-turquoise-two);
  border-radius: rem(20);
  overflow: hidden;
}

.program-committee__card--img {
  height: rem(305);
  width: 100%;
  object-fit: cover;
}

.program-committee__card__content {
  padding: rem(20) rem(16);
  background-color: var(--color-light-turquoise);
}

.program-committee__card--title {
  @include title-20;
  margin-bottom: rem(4);
}

.program-committee__card--position {
  font-weight: var(--font-bold);
  display: block;
  color: var(--color-turquoise-three);
  margin-bottom: rem(20);
}
