.program-curriculum {
  padding-top: rem(44);
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(98);
  }
}

.program-curriculum__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
  }
}

.program-curriculum__description {
  columns: 1;

  @include media(">=phone") {
    columns: 2;
    gap: rem(24);
  }

  @include media(">=tablet") {
    max-width: rem(808);
  }

  p:not(:last-child) {
    margin-bottom: rem(16);
  }

  a {
    color: var(--color-black);
    text-decoration: underline;
  }
}

.program-curriculum__header {
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(58);
  }
}

.program-curriculum__cycles-list {
}

.program-curriculum__cycles-item {
  width: rem(266);
  height: 100%;
}

.cycle-card {
  border-radius: rem(20);
  border: 1px solid var(--color-secondary-grey);
  height: 100%;
}

.cycle-card__wrapper {
  padding: rem(16) rem(12);
  height: 100%;
}

.cycle-card__header {
  margin-bottom: rem(28);
}

.cycle-card__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: rem(16);
  }
}

.cycle-card__course {
  margin-left: rem(8);
  flex: 1;
}

.cycle-card__course-icon {
  height: rem(16);
  width: auto;
}

.program-curriculum__footer {
  padding-top: rem(24);
  display: flex;
  justify-content: center;

  a {
    @include media("<phone-576") {
      width: 100%;
    }
  }

  svg {
    padding: rem(3) rem(4.5);
  }
}
