.teaching-staff__wrapper {
  padding-top: rem(44);
  padding-bottom: rem(108);

  @include media(">=tablet") {
    padding-top: rem(88);
    padding-bottom: rem(148);
  }
}

.teaching-staff__header {
  margin-bottom: rem(16);

  @include media(">=tablet") {
    margin-bottom: rem(60);
  }
}

.teaching-staff__title {
  @include title-28;
  margin-bottom: rem(16);

  @include media(">=tablet") {
    @include title-36;
    margin-bottom: rem(24);
  }
}

.teacher-card {
  border: 1px solid var(--color-primary);
  overflow: hidden;
  border-radius: rem(20);
  width: rem(307);
  min-width: rem(307);
  max-width: rem(307);
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media(">=tablet") {
    width: auto;
    min-width: auto;
    max-width: none;
  }
}

.teacher-card__header {
  margin-top: rem(8);

  img {
    margin: 0 auto;
    height: rem(128);
  }
}

.teacher-card__content {
  flex: 1;
  background-color: var(--color-light-turquoise);
  padding: rem(20) rem(16) rem(24);
  display: flex;
  flex-direction: column;
}

.teacher-card__name {
  margin-bottom: rem(4);
  @include title-20;
}

.teacher-card__role {
  margin-bottom: rem(20);
  font-weight: var(--font-bold);
  color: var(--color-turquoise-three);
}

.teacher-card__details {
  list-style-type: disc;
  padding-left: rem(16);

  p:not(:last-child) {
    margin-bottom: rem(10);
  }
  a {
    font-weight: var(--font-medium);
  }
}

.teacher-card__details__item {
  list-style-type: disc;

  &::marker {
    font-size: 0.5em;
  }
}
