@import "./base/normalize";
@import "./base/reset";

/**
 * Utils
 */
@import "./utils/tailwind";

/**
 * Base
 */
@import "./base/root";
@import "./base/fonts";
@import "./base/container";
@import "./base/animations";

/**
 * Components
 */
@import "./components/index";

/**
 * Utils
 */
@import "./utils/index";

/**
 * Layout
 */
@import "./layout/index";
