.search-results__wrapper {
  padding-top: rem(16);
  padding-bottom: rem(60);

  @include media(">=tablet") {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  @include media(">=desktop-s") {
    padding-right: rem(212);
    padding-left: rem(316);
  }
}

.search-results__back {
  padding: rem(8) 0 !important;
}

.search-results__content {
  margin-top: rem(12);

  display: grid;
  gap: rem(24);
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.search-results__item {
  height: 100%;
  padding: rem(12) rem(12) rem(8);
  border-radius: rem(12);
  border: 1px solid var(--color-light-gray);
  display: flex;
  flex-direction: column;
}

.search-results__item--title {
  @include title-22;
  font-size: rem(16);
  margin-bottom: rem(9);
}

.search-results__item--content {
  color: var(--color-asu-grey);
  font-style: italic;
  padding-bottom: rem(16);
}

.search-results__item-button {
  padding: 0 !important;
  width: fit-content;
  margin-top: auto;

  svg {
    padding: rem(4);
  }
}
