::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: unset;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--color-link-water);
}

::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}
