.headline {
  width: 100%;
  @include media('<=tablet-lg') {
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
    word-wrap: break-word;
    hyphens: auto;

    & ~ div,
    & ~ ul,
    & ~ p {
      margin-top: 10px;
    }
  }

  p {
    margin: 0 0 15px;

    a {
      font-weight: var(--bold);
      color: var(--color-primary);
      transition: color var(--def-transition-300ms);

      &:hover {
        color: var(--color-accent);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 30px;

    li {
      display: list-item;
      list-style-type: disc;
      padding: 4px 0;
    }
  }

  &__size {
    &_x1,
    &_x2 {
      p {
        margin: 0 0 10px;

        &:first-of-type {
          margin-top: 10px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &_x1 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 36px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;

        @include screen-size($from: null, $to: phone-md) {
          font-size: 28px;
        }

        @include screen-size($from: phone-md, $to: phone-xl) {
          font-size: 32px;
        }

        @include screen-size($from: phone-xl, $to: tablet-lg) {
          font-size: 34px;
        }
      }
    }

    &_x2 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 32px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;
      }
    }

    &_x3 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 28px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;
      }
    }

    &_x4 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 24px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;
      }
    }

    &_x5 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 20px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;
      }
    }

    &_x6 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-secondary);
        font-size: 18px;
        color: var(--color-primary);
        line-height: 1.3;
        position: relative;
      }
    }
  }

  &__offset_y {
    &_10 {
      margin-bottom: 10px;
    }

    &_15 {
      margin-bottom: 15px;
    }

    &_20 {
      margin-bottom: 20px;
    }

    &_25 {
      margin-bottom: 25px;
    }

    &_30 {
      margin-bottom: 30px;
    }

    &_35 {
      margin-bottom: 35px;
    }

    &_40 {
      margin-bottom: 40px;
    }
  }

  &__outset {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 48px;
        height: 2px;
        background-color: var(--color-accent);
        transform: translateY(10px);
        position: absolute;
        top: 100%;
        left: 0;
        @include media('<=tablet-lg') {
          transform: translate(-50%, 10px);
          left: 50%;
        }
      }
    }

    &__lg {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &::after {
          width: 100px;
        }
      }
    }
  }

  &__center {
    text-align: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &::after {
        transform: translate(-50%, 10px);
        left: 50%;
      }
    }
  }

  &__color {
    &_white {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: var(--color-white);
      }
    }
  }
}
