.link_group {
  width: 100%;

  &__top {
    &_10 {
      margin-top: 10px;
    }

    &_15 {
      margin-top: 15px;
    }

    &_30 {
      margin-top: 30px;
    }
  }
}

.link {
  display: inline-block;
  font-weight: var(--semi-bold);
  font-size: 16px;
  transition: color var(--def-transition-300ms);

  span,
  svg {
    display: inline-block;
    vertical-align: middle;

    @include screen-size($from: null, $to: phone-md) {
      display: inline;
    }
  }

  &__weight_none {
    font-weight: var(--regular);
  }

  &__size {
    &_sm {
      font-size: 14px;
    }
  }

  &__icon {
    &:hover {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      margin: 0 0 0 7px;
      transition: transform var(--def-transition-300ms);
    }
  }

  &__primary {
    color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      color: var(--color-accent);

      [stroke^='#'] {
        stroke: var(--color-primary);
      }
    }

    [stroke^='#'] {
      stroke: var(--color-accent);
      transition: var(--def-transition-300ms);
    }
  }

  &__white {
    color: var(--color-white);
    border-color: var(--color-primary);

    [stroke^='#'] {
      stroke: var(--color-viking);
      transition: var(--def-transition-300ms);
    }
  }

  &__hover_v2 {
    &:hover {
      svg {
        transform: rotate(0deg) scale(1.4);
      }
    }
  }

  &__hover_v3 {
    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
  }
}
