.play_button {
  display: block;
  transform: translate(-50%, -50%);
  // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;

  &:hover {
    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
    }

    &::after {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.4);
      // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
    }

    &:not(.play_button__playing) {
      svg {
        &:nth-of-type(1) {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          // transition: opacity 300ms 150ms var(--ease), transform 300ms 150ms var(--ease);
        }

        &:nth-of-type(2) {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1.4);
          // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
        }
      }
    }
  }

  &__playing {
    &:hover {
      svg {
        &:nth-of-type(3) {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          // transition: opacity 300ms 150ms var(--ease), transform 300ms 150ms var(--ease);
        }

        &:nth-of-type(4) {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1.4);
          // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
        }
      }
    }

    svg {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: inline-block !important;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    // transition: opacity 300ms var(--ease), transform 300ms var(--ease);
  }

  &::after {
    // transition: opacity 300ms 150ms var(--ease), transform 300ms 150ms var(--ease);
  }

  &__size {
    &_lg {
      width: 90px;
      height: 90px;

      @include screen-size($from: null, $to: tablet-lg) {
        width: 72px;
        height: 72px;
      }

      svg {
        width: 30px;
        height: 36px;

        @include screen-size($from: null, $to: tablet-lg) {
          width: 28px;
          height: 28px;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-left: 5px;
        }
      }
    }

    &_md {
      width: 76px;
      height: 76px;

      svg {
        width: 26px;
        height: 32px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-left: 5px;
        }
      }
    }
  }

  &__color {
    &_white {
      &::before {
        opacity: 0;
        background-color: set-color(--color-primary, 0.8);
        transform: translate(-50%, -50%) scale(0.5);
      }

      &::after {
        background-color: set-color(--color-white, 0.8);
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__unmove {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    &:nth-of-type(1),
    &:nth-of-type(3) {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
      // transition: opacity 300ms var(--ease), transform 300ms var(--ease);

      [fill^='#'] {
        fill: var(--color-white);
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(4) {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      // transition: opacity 300ms 300ms var(--ease), transform 300ms 300ms var(--ease);

      [fill^='#'] {
        fill: var(--color-primary);
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: none;
    }
  }
}
