.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  &__overlay,
  &__container {
    pointer-events: none;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: set-color(--color-cinder, 0);
    transition: background-color var(--def-transition-300ms);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    background-color: var(--color-white);
    opacity: 0;
    transform: scale(0.9);
    transition: opacity var(--def-transition-300ms), transform var(--def-transition-300ms);
    position: relative;
  }

  &__close {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    &:hover {
      svg {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    svg {
      transform: translate(-50%, -50%);
      transition: transform var(--def-transition-300ms);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

.lit-popup {
  pointer-events: none;

  &--opened {
    pointer-events: auto;

    .popup {
      &__overlay {
        background-color: set-color(--color-cinder, 0.8);
        pointer-events: auto;
      }

      &__container {
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
