.tag_cloud {
  li {
    display: inline-block;
    margin: 0 8px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    font-size: 12px;
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: 2px 12px;
    transition: transform var(--def-transition-300ms);

    &:hover {
      transform: translateZ(0) scale(1.1);
    }
  }
}
