.title {
  &__size {
    &_24 {
      h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: var(--bold);
    color: var(--color-primary);
    margin: 0 0 15px;
  }

  p {
    font-size: 16px;
    color: var(--color-secondary);
    margin: 0 0 15px;

    &:last-of-type {
      margin: 0;
    }
  }
}
