.popup__video {
  width: 100%;

  .popup {
    &__container {
      max-width: 80%;
      width: 100%;

      @include screen-size($from: null, $to: tablet-lg) {
        max-width: 100%;
        height: auto;
      }

      &__inner {
        height: 100%;
      }
    }
  }
}
