.pba-benefits {
  background-color: var(--color-primary);
  padding-top: rem(42);
  padding-bottom: rem(42);

  @include media(">=phone") {
    padding-top: rem(54);
  }
}

.pba-benefits__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.pba-benefits__title {
  @include title-28;
  margin-bottom: rem(42);

  @include media(">=phone") {
    text-align: center;
    margin-inline: auto;
  }

  @include media(">=tablet") {
    margin-bottom: rem(56);
    color: var(--color-white);
  }
}

.pba-benefits__grid {
  columns: 2;
  column-gap: rem(16);

  @include media(">=phone") {
    columns: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(16);
  }
}

.pba-benefits__item--container {
  &[data-padded="1"] {
    padding-top: rem(126);
  }

  &:not(:last-child) {
    padding-bottom: rem(16);
  }

  @include media(">=phone") {
    padding: 0 !important;
  }
}

.pba-benefits__item {
  border: 1px solid var(--color-turquoise-one);
  break-inside: avoid;
  background-color: var(--color-white);
  padding: rem(24) rem(20);
  border-radius: rem(20);

  @include media(">=phone") {
    width: rem(240);
    min-height: rem(190);
  }
}

.pba-benefits__icon {
  width: rem(52);
  height: rem(52);
  margin-bottom: rem(8);
}
