.pba-recognitions {
  background-color: var(--color-asu-gold);
  padding-top: rem(32);
  padding-bottom: rem(32);

  @include media(">=tablet") {
    padding-top: rem(95);
    padding-bottom: rem(114);
  }
}

.pba-recognitions__header {
  display: flex;
  flex-direction: column;
  gap: rem(18);
  align-items: center;
  margin-bottom: rem(32);

  @include media(">=phone") {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  @include media(">=tablet") {
    margin-bottom: rem(70);
  }
}

.pba-recognitions__title {
  @include title-42;
  text-align: center;

  @include media(">=phone") {
    text-align: left;
    margin-bottom: rem(20);
  }

  @include media(">=desktop-s") {
    @include title-56;
  }
}

.pba-recognitions__items {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12);
  justify-content: space-between;
}

.pba-recognitions__item-title {
  background-color: var(--color-white);
  width: fit-content;
  @include title-42;
  padding: rem(0) rem(8) rem(4);
}

.pba-recognitions__item-subtitle {
  color: var(--color-white);
  background-color: var(--color-black);
  @include title-22;
  font-size: rem(16);
  font-weight: var(--font-medium);
  padding: rem(2) rem(8);
  width: fit-content;
}

.pba-recognitions__item-source {
  @include title-22;
  font-size: rem(12);
  margin-top: rem(4);
  max-width: rem(279);
}
