.pba-cta__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(40);

  @include media(">=tablet") {
    padding-top: rem(58);
    padding-bottom: rem(70);
  }
}

.pba-cta__other {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  padding-top: rem(32);

  @include media(">=phone-576") {
    flex-direction: row;
    justify-content: center;
  }

  @include media(">=tablet") {
    padding-top: rem(58);
  }

  a {
    width: 100%;

    @include media(">=phone-576") {
      max-width: rem(328);
    }
  }
}
