.pba-powered__wrapper {
  padding-top: rem(42);
  padding-bottom: rem(42);

  @include media(">=tablet") {
    padding-top: rem(95);
    padding-bottom: rem(95);
  }
}

.pba-powered__header {
  display: flex;
  flex-wrap: wrap;
  gap: rem(24);
  margin-bottom: rem(24);

  @include media(">=tablet") {
    margin-bottom: rem(43);
  }

  @include media(">=desktop-m") {
    gap: rem(73);
  }
}

.pba-powered__header--title {
  @include title-28;
  max-width: rem(340);

  strong {
    color: var(--color-asu-brown);
  }
}

.pba-powered__header--card {
  padding: rem(10) rem(16);
  border-radius: rem(12);
  background-color: var(--color-light-turquoise);
  width: 100%;
  max-width: rem(495);
}
