.pba-cta {
}

.pba-cta__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(40);

  @include media(">=tablet") {
    padding-top: rem(58);
    padding-bottom: rem(70);
  }
}

.pba-cta__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(26) rem(28);
  border-radius: rem(20);
  background-color: var(--color-turquoise-one);

  @include media(">=tablet") {
    padding: rem(58);
  }
}

.pba-cta__title {
  @include title-28;
  margin-bottom: rem(12);
  text-align: center;

  @include media(">=tablet") {
    max-width: rem(486);
  }
}

.pba-cta__description {
  font-weight: var(--font-semi-bold);
  text-align: center;
  margin-bottom: rem(36);

  @include media(">=tablet") {
    margin-bottom: rem(24);
  }
}

.pba-cta__button {
  border-radius: rem(8);
  width: fit-content;
}

.pba-cta__other {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  padding-top: rem(32);

  @include media(">=phone-576") {
    flex-direction: row;
    justify-content: center;
  }

  @include media(">=tablet") {
    padding-top: rem(58);
  }

  a {
    width: 100%;

    @include media(">=phone-576") {
      max-width: rem(328);
    }
  }
}
