.pba-navbar {
  background-color: var(--color-primary);
}

.pba-navbar__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-primary);
  padding-top: rem(4);
  padding-bottom: rem(4);
}

.pba-navbar__logo {
  height: rem(34);

  @include media(">=tablet") {
    height: rem(43);
  }
}

.language-switcher {
  position: relative;
  width: 63px;
  height: 33px;
  background-color: var(--color-light-turquoise);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-turquoise-three);
  a {
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    font-size: rem(14);
    text-align: center;
    line-height: 26px;
    padding-right: 2px;
  }
}
.current-lang {
  background-color: var(--color-turquoise-three);
  color: var(--color-white);
}
