.pba-hero {
  position: relative;
  overflow: hidden;
}

.pba-hero__picture {
  width: 100%;
}

.pba-hero__picture--img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: rem(420);

  @include media(">=tablet") {
    min-height: var(--full-hero-min-height);
    height: var(--full-hero-height);
    max-height: var(--full-hero-max-height);
    aspect-ratio: var(--full-hero-aspect-ratio);
  }
}

.pba-hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.pba-hero__container {
  margin-top: auto;
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-bottom: rem(27);
  }

  @include media(">=tablet") {
    padding-bottom: rem(54);
  }
}

.pba-hero__content--title {
  @include title-32;
  color: var(--color-white);
  max-width: rem(654);
  margin-bottom: rem(8);

  @include media(">=tablet") {
    @include title-80;
    margin-bottom: rem(24);
  }
}

.pba-hero__content--description {
  color: var(--color-white);

  @include media(">=phone") {
    max-width: rem(480);
  }

  @include media(">=tablet") {
    font-size: rem(32);
  }
}
