.pba-highlights__wrapper {
  padding-top: rem(42);
  padding-bottom: rem(42);

  @include media(">=tablet") {
    padding-top: rem(0);
    padding-bottom: rem(128);
  }
}

.pba-highlights__title {
  @include title-28;
  margin-bottom: rem(24);

  @include media(">=phone") {
    text-align: center;
  }

  @include media(">=tablet") {
    margin-bottom: rem(61);
  }
}

.pba-highlights__item {
  &:not(:last-child) {
    margin-bottom: rem(42);

    @include media(">=phone") {
      margin-bottom: rem(0);
    }
  }
}

.pba-highlights__card {
  background-color: var(--color-engineering);
  border-radius: rem(12) rem(12) rem(20) rem(20);
  overflow: hidden;

  @include media(">=phone") {
    display: flex;
    width: rem(856);
    border-radius: rem(12) rem(20) rem(20) rem(12);
  }
}

.pba-highlights__card-left {
  padding: rem(12) rem(12) rem(22);

  @include media(">=phone") {
    padding: rem(25) rem(30) rem(25) rem(24);
  }
}

.pba-highlights__card-title {
  @include title-32;
  margin-bottom: rem(24);

  strong {
    color: var(--color-asu-brown);
  }
}

.pba-highlights__card-right {
  height: rem(450);
  width: 100%;
  position: relative;

  @include media(">=phone") {
    flex: 1;
    min-height: rem(435);
    height: 100%;
    width: rem(600);
    min-width: rem(600);
  }
}

.pba-highlights__card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: rem(20);
  border: 6px solid var(--color-light-turquoise);
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.25);
}

.pba-highlights__card-video-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    color: #f3f3fa;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.pba-highlights-modal {
  .modal-container {
    max-width: rem(760);
  }

  .modal-body {
    padding-top: rem(63);
    padding-bottom: rem(112);

    @include media(">=phone") {
      padding-top: rem(16);
      padding-bottom: rem(45);
    }
  }
}

.pba-highlights-modal__video {
  position: relative;
  &-iframe,
  &-mp4 {
    padding-left: rem(20);
    padding-right: rem(20);
  }
  &-iframe {
    iframe {
      width: 100%;
      min-height: rem(420);
    }
  }
  &-mp4 {
    video {
      width: 100%;
      display: block;
    }
  }
}

.pba-highlights-modal__video-img {
  width: 100%;
  height: 100%;
  max-height: rem(435);
  object-fit: cover;
}

.pba-highlights-modal__video-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  svg {
    color: #f3f3fa;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}
