@mixin position($position, $z-index: 1) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index;
}

@mixin position-abs-center() {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin placeholder {
  &::input-placeholder {
    @content;
  }

  &:placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }

  &:input-placeholder {
    @content;
  }
}

@mixin field-autofill {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    @content;
  }
}

@mixin field-autofill-text {
  &:-webkit-autofill::first-line {
    @content;
  }
}
