.event-detail-hero {
  .hero__content--title {
    @include media(">=tablet") {
      margin-bottom: rem(42);
    }
  }
  .swiper-hero__picture--img {
    aspect-ratio: 90/47;
  }
  .swiper-pagination {
    display: none;
  }
}
