.event-detail-hero {
  .hero-slide__content--title {
    @include media(">=tablet") {
      margin-bottom: rem(42);
    }
  }
  .hero-slide__picture--img {
    aspect-ratio: 90/47;
  }
  .swiper-pagination {
    display: none;
  }
}
