.certificates {
  width: 100%;
  background: var(--white);
  position: relative;
  padding: rem(64) 0;

  @include media(">=tablet") {
    padding: rem(120) 0 rem(165);
  }
}

.certificates__wrapper {
  padding: 0 rem(24) rem(40);

  @include media(">=tablet") {
    padding: 0 rem(92) rem(130);
  }
}

.certificates__top-title {
  @extend %top-title;
  @include media(">=tablet") {
    margin-bottom: rem(20);
  }
}

.certificates__title {
  margin-bottom: rem(20);
  @include media(">=tablet") {
    margin-bottom: rem(24);
    padding: 0 rem(460);
  }
  h2 {
    @include size(28, 32);
    color: var(--primary);
    font-weight: var(--semi-bold);

    @include media(">=tablet") {
      @include size(41, 64);
      letter-spacing: -#{rem(1.5)};
    }
  }
}

.certificates__description {
  p {
    @extend %description-12-20;
    color: var(--primary);
    font-weight: var(--light);
  }
}

.certificates__swiper {
  .swiper-container {
    padding: 0 rem(24);
    @include media(">=tablet") {
      padding: 0 rem(92);
    }
  }

  .swiper-slide {
    height: auto;

    @include media("<tablet") {
      width: auto;
    }

    img {
      display: block;
      width: auto;
      margin: 0 auto;

      @include media("<tablet") {
        max-height: rem(110);
      }

      &:not(.loaded) {
        width: rem(96);
        height: rem(100);

        @include media(">=tablet") {
          width: rem(192);
          height: rem(187);
        }
      }
    }
  }
}
