.hero {
  background: var(--white);
  min-height: rem(570);
  // @include media("height>720px") {
  //   min-height: rem(1070);
  // }
}

.hero__box__wrapper {
  padding: rem(64) rem(20);

  @include media("<tablet") {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @include media(">=tablet") {
    padding: rem(388) rem(280) rem(100);
  }
}

.hero__box__pagination {
  @include media(">=tablet") {
    display: none;
  }
}
