.toolbar {
  width: 100%;
  background-color: var(--color-cinder);
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  @include media('<=tablet-lg') {
    display: none;
  }

  &__menu {
    li,
    a {
      display: inline-block;
    }

    li {
      margin: 0 12px 3px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      font-size: 12px;
      color: var(--color-white);
      position: relative;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: var(--color-white);
        transition: width var(--def-transition-300ms);
        transform: translateX(-50%);
        position: absolute;
        top: 100%;
        left: 50%;
      }
    }
  }

  &__dropdown {
    margin: 0 0 0 25px;
    user-select: none;
    position: relative;

    &:hover {
      ul {
        pointer-events: all;
        opacity: 1;
        transform: translateY(5px) scale(1);
      }
    }

    &__placeholder {
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 86px;
        height: 58px;
        position: absolute;
        top: 20%;
        left: 0;
      }

      span {
        display: inline-block;
        width: 13px;
        height: 8px;
        margin: 0 5px -2px 0;
        position: relative;

        svg {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      i {
        font-style: normal;
        font-size: 12px;
        color: var(--color-white);
      }

      div {
        width: 17px;
        height: 16px;
        margin: 1px 0 0 4px;
      }
    }

    &__list {
      background-color: var(--color-white);
      pointer-events: none;
      opacity: 0;
      transform: translateY(10px) scale(0.98);
      transition: opacity var(--def-transition-300ms), transform var(--def-transition-300ms);
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;

      a {
        padding: 5px 10px;
        transition: background-color var(--def-transition-300ms);

        &:hover {
          background-color: var(--color-primary);

          i {
            color: var(--color-white);
          }
        }
      }

      span,
      i {
        display: inline-block;
      }

      span {
        width: 13px;
      }

      i {
        font-style: normal;
        font-size: 14px;
        color: var(--color-secondary);
        margin: 0 0 0 4px;
        transition: color var(--def-transition-300ms);
      }
    }
  }
}
