.entrance-exam__title {
  @include title-32;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    @include title-36;
    margin-bottom: rem(26);
  }
}

.entrance-exam__content {
  & > *:not(:last-child) {
    margin-bottom: rem(42);
  }
}

.entrance-exam__btn {
  width: 100%;
  max-width: rem(328);
}
