.breadcrumbs {
  width: 100%;
  padding: 30px 0;

  li {
    display: inline-block;
    white-space: nowrap;
    margin-top: -3px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
      text-overflow: ellipsis;
      overflow: hidden;

      svg {
        display: none;
      }
    }
  }

  a,
  span {
    font-size: 14px;
  }

  a {
    display: inline-block;
    color: var(--color-primary);
    position: relative;
    transition: color var(--def-transition-300ms);

    &:hover {
      color: var(--color-accent);
    }
  }

  span {
    font-weight: var(--semi-bold);
    color: var(--color-tuna);
  }

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    transform: translate(2px, calc(-50% + 1px));
    position: absolute;
    top: 50%;
    left: 100%;
  }
}
