.product-card {
  width: 100%;
  height: 100%;
  background: var(--white);
  position: relative;
}

.product-card__image {
  display: block;
  height: rem(438);
  cursor: pointer;

  @include media(">=tablet") {
    height: rem(581);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.product-card__content {
  padding-top: rem(20);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card__title {
  flex: 1 1 0%;
  margin-right: rem(24);

  p {
    @include size(16, 20);
    color: var(--primary);
    font-weight: var(--medium);

    @include media(">=phone") {
      @include size(25, 24);
      font-weight: var(--semi-bold);
    }
  }
}

.product-card__link {
  @extend %description-16-24;
  color: var(--primary);
  font-weight: var(--regular);
}
