.products {
  width: 100%;
  background: var(--white);
}

.products__wrapper {
  padding: rem(64) rem(24);

  @include media(">=tablet") {
    padding: rem(200) rem(43.5) rem(207) rem(45.5);
  }
}

.products__top-title {
  @extend %top-title;

  @include media(">=tablet") {
    padding-left: rem(46.5);
  }
}

.products__title {
  margin-bottom: rem(40);

  @include media(">=tablet") {
    padding-left: rem(44.5);
    margin-bottom: rem(52);
  }

  h2 {
    @extend %title-77;
    color: var(--primary);
  }
}

.products__swiper {
  position: relative;

  @include media("<tablet") {
    margin: 0 rem(-24);
  }

  .swiper-container {
    @include media("<tablet") {
      padding-bottom: rem(34);
      padding-left: rem(24);
    }
  }

  .swiper-slide {
    height: auto;
    width: calc(100% - #{rem(24)});

    @include media(">=phone-576") {
      width: calc(50% - #{rem(24)});
    }

    @include media(">=tablet") {
      width: 100%;
    }
  }

  .swiper-button-next {
    position: absolute;
    width: rem(40);
    height: rem(40);
    top: rem(187);
    right: rem(16);

    svg {
      width: rem(40);
      height: rem(40);
    }

    @include media("<tablet") {
      display: none;
    }
  }

  .swiper-pagination {
    @include media(">=tablet") {
      display: none;
    }
  }
}
