.product-detail {
  background: var(--white);

  &.is-mobile {
    margin-bottom: rem(32);

    @include media(">=tablet") {
      display: none;
    }
  }

  &.is-desktop {
    @extend %cover;
    max-width: 100%;
    z-index: 2;

    @include media("<tablet") {
      display: none;
    }

    @include media(">=tablet") {
      $slide-gap: 32 * 3;
      max-width: calc(((100% - #{$slide-gap}px) / 4) + 12px);
      left: calc(((100% - #{$slide-gap}px) / 4) + 26px);
    }
  }
}

.product-detail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  @include media(">=tablet") {
    padding: 0 rem(16) rem(83);
  }
}

.product-detail__title {
  margin-bottom: rem(20);

  @include media(">=tablet") {
    margin-bottom: rem(25);
  }

  p {
    color: var(--primary);
    @include size(20, 20);
    font-weight: var(--medium);

    @include media(">=tablet") {
      @include size(25, 32);
      font-weight: var(--semi-bold);
      letter-spacing: -#{rem(1.5)};
    }
  }
}

.product-detail__description {
  p {
    @extend %description-16-32;
    color: var(--primary);
    letter-spacing: rem(0.75);
  }
}
