.popup__profile__v1 {
  &__visual {
    width: 230px;

    @include screen-size($from: null, $to: phone-lg) {
      width: 100%;
    }
  }

  &__thumb {
    width: 100%;
    height: 240px;
    position: relative;

    @include screen-size($from: null, $to: phone-lg) {
      width: 240px;
      margin: 0 auto;
    }
  }

  &__social_media {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0;

    li,
    a {
      display: inline-block;
    }

    li {
      margin: 0 5px;
    }

    a {
      width: 28px;
      height: 28px;
      transition: transform var(--def-transition-300ms);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__meta {
    width: calc(100% - 230px);
    padding: 0 0 0 20px;

    @include screen-size($from: null, $to: phone-md) {
      padding: 30px 15px 15px;
    }

    @include screen-size($from: phone-md, $to: phone-lg) {
      padding: 30px 0 0;
    }

    @include screen-size($from: null, $to: phone-lg) {
      width: 100%;
    }

    &__chapter {
      margin: 15px 0;

      & > div {
        margin: 0 0 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    & > h6 {
      font-size: 28px !important;
    }

    h5,
    h6 {
      font-family: var(--font-secondary);
      font-weight: var(--bold);
      color: var(--color-primary);
      line-height: 1.3;
    }

    h5 {
      font-size: 20px;
      margin: 0 0 10px;
    }

    h6 {
      font-size: 18px;
    }

    small {
      font-size: 14px;
      color: var(--color-storm-gray);
    }

    a {
      color: var(--color-tuna);
      transition: color var(--def-transition-300ms);

      &:hover {
        color: var(--primary-color);
      }
    }

    p {
      margin: 0 0 15px;

      &:last-of-type {
        margin: 0 0 15px;
      }
    }
  }

  &__columns {
    display: flex;
    flex-flow: row wrap;
    margin: 30px -15px 0;

    &__column {
      width: 50%;
      padding: 0 15px;

      @include screen-size($from: phone-xl, $to: tablet-lg) {
        width: 100%;
        margin: 15px 0 0;
      }

      &:first-child {
        @include screen-size($from: phone-xl, $to: tablet-lg) {
          margin: 0;
        }
      }

      & > div {
        width: 100%;
        height: 100%;
        background-color: var(--color-white-lilac);
        padding: 15px;

        & > div {
          margin: 15px 0 0;
        }
      }
    }

    a {
      transform: color var(--def-transition-300ms);

      &:hover {
        color: var(--color-accent);
      }
    }

    p {
      margin: 0 !important;
    }

    ul {
      padding-left: 30px;
    }

    li {
      display: list-item;
      list-style-type: disc;
    }
  }

  .popup {
    &__container {
      max-width: 940px;
      width: 100%;

      &__inner {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-height: 80vh;
        padding: 30px;
        overflow-y: auto;
        @include screen-size($from: null, $to: phone-md) {
          padding: 30px 0;
        }

        @include screen-size($from: phone-md, $to: phone-lg) {
          padding: 40px 38px 15px;
        }
      }
    }
  }
}
