.nav_tabs {
  width: 100%;
  background-color: var(--color-white-lilac);
  margin: 0 0 40px;

  ul {
    width: 100%;
    @include media('<=tablet-lg') {
      overflow-y: hidden;
    }
  }

  li,
  a {
    display: block;
    width: 100%;
  }

  a {
    font-size: 18px;
    color: var(--color-tuna);
    text-align: center;
    white-space: nowrap;
    padding: 10px 0;
    transition: color var(--def-transition-300ms);
    position: relative;

    @include media('<=tablet-lg') {
      min-width: 200px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: var(--color-accent);
      transition: width var(--def-transition-300ms);
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      bottom: 0;
    }

    &.active {
      font-weight: var(--semi-bold);
      color: var(--color-primary);

      &::after {
        width: 100%;
      }
    }
  }
}
