@function rem($size) {
  @return ($size / $base-font-size) * 1rem;
}

@function calc-rem($size) {
  @return $size / $base-font-size;
}

@function line-height($size, $height) {
  @return #{$height / $size}em;
}

@function set-tsn($tsn: "--easeInSine") {
  @return map-get($transition, $tsn);
}

@function set-font($name) {
  @return url("/wp-content/themes/#{$theme-folder}/assets/fonts/#{$name}");
}

@function set-img($name) {
  @return url("/wp-content/themes/#{$theme-folder}/assets/images/#{$name}");
}

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; Choose one of: #{$z-indexes}';

    @return null;
  }
}
