%cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%abs-center {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin ps-absolute($z-index: 1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index;
}

@mixin rootColors($colors) {
  :root {
    @each $name, $color in $colors {
      #{$name}: #{$color};
    }
  }
}

@mixin size($size, $height: 0) {
  font-size: rem($size);
  @if $height > 0 {
    line-height: line-height($size, $height);
  }
}

@mixin offset($side, $size) {
  @if $size > 0 {
    margin-#{$side}: rem($size);
  }
}

@mixin hover {
  &:hover {
    @include media(">=tablet") {
      @content;
    }
  }
}
