
@mixin line-clamp($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@for $i from 1 through 5 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }
}
