.product {
  width: 100%;
  background: var(--white);
}

.product__wrapper {
  padding-top: rem(64);

  @include media(">=tablet") {
    display: flex;
    padding-top: rem(92);
  }
}

.product__image {
  @include media(">=tablet") {
    flex: 1 1 100%;
    max-width: rem(940);
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: rem(445);

    @include media(">=tablet") {
      height: 100%;
      max-width: rem(940);
      max-height: calc(var(--vh) - #{rem(9)});
      position: fixed;
      top: rem(20);
      left: 0;
      bottom: 0;
    }
  }
}

.product__content {
  @include media(">=tablet") {
    flex: 1 1 auto;
    width: 100%;
    min-height: calc(var(--vh) - #{rem(92)});
  }
}

.product__info {
  padding: rem(40) rem(24) rem(48);

  @include media(">=tablet") {
    padding: rem(86) rem(92) rem(76.5) rem(40);
  }
}

.product__title {
  margin-bottom: rem(10);
  margin-top: rem(20);
  @include media(">=tablet") {
    margin-bottom: rem(20);
    margin-top: 0;
  }

  h1 {
    @include size(48);
    color: var(--primary);
    font-weight: val(--semi-bold);

    @include media(">=tablet") {
      @include size(109);
    }
  }
}

.product__name {
  margin-bottom: rem(32);

  p {
    @include size(12, 20);
    color: var(--dark);
    font-family: var(--font-poppins);

    @include media(">=phone") {
      @include size(16, 20);
    }

    @include media(">=tablet") {
      @include size(20, 20);
    }
  }
}

.product__description {
  margin-bottom: rem(64);

  @include media(">=tablet") {
    margin-bottom: rem(56);
  }

  p {
    @extend %description-16-24;
    color: var(--primary);
    font-weight: var(--light);
  }
}

/**
 * Product Features
 */

.product__features {
  width: 100%;
}

.product__features-title {
  @include media(">=tablet") {
    margin-bottom: rem(16.5);
  }

  h2 {
    @include size(16, 20);
    color: var(--danger);
    font-weight: var(--semi-bold);

    @include media(">=tablet") {
      @include size(20, 24);
    }
  }
}

.product__features-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: rem(32);
  padding-bottom: rem(24);

  @include media("<phone") {
    border-bottom: 1px solid var(--danger);
    & > div {
      max-width: 100%;
    }
  }

  @include media(">=phone") {
    &:not(:last-child) {
      border-bottom: 1px solid var(--danger);
    }
  }

  @include media(">=tablet") {
    padding-top: rem(19);
    padding-bottom: rem(17);
  }

  p {
    @include size(16, 20);
    color: var(--primary);
    font-family: var(--font-poppins);

    @include media(">=tablet") {
      @include size(18, 20);
    }

    &.name {
      font-weight: var(--semi-bold);

      @include media("<tablet") {
        @include size(14, 20);
        margin-bottom: rem(8);
      }
    }
  }
}

/**
 * Other Features
 */

.other-features {
  $border: 1px solid
    rgba(
      $color: $color-alto-gray,
      $alpha: 0.38,
    );
  padding-left: rem(24);
  padding-right: rem(24);
  border-top: $border;
  border-bottom: $border;
  overflow: hidden;
  transition: height 0.5s ease;

  @include media(">=tablet") {
    padding-left: rem(40);
    padding-right: rem(92);
    margin-bottom: rem(34);
  }

  .icon-more {
    margin-right: rem(8);
    transform: rotate(0deg);
    transition: all 0.5s ease;
    svg {
      width: rem(32);
      height: rem(32);

      @include media(">=tablet") {
        width: rem(62);
        height: rem(62);
      }
    }
  }

  &.is-active {
    @include media(">=tablet") {
      margin-bottom: rem(74);
    }

    .icon-more {
      transform: rotate(-45deg);
    }
  }
  &:not(.is-active) {
    height: rem(80) !important;

    @include media(">=tablet") {
      height: rem(88) !important;
    }
  }
}

.other-features__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: rem(24);
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-top: rem(9.5);
    padding-bottom: rem(9.5);
  }
  p {
    @include size(24, 28);
    color: var(--primary);
    font-weight: var(--medium);

    @include media(">=tablet") {
      @include size(40, 40);
      font-weight: var(--semi-bold);
    }
  }
}

.other-features__description {
  padding-top: rem(8);
  padding-bottom: rem(16);

  @include media(">=tablet") {
    padding-top: rem(41.5);
    padding-bottom: rem(33);
  }
  p {
    @extend %description-16-24;
    color: var(--primary);
    font-weight: var(--light);
  }
}

.other-features__item {
  display: block;
  position: relative;
  border-bottom: 1px solid rgba($color: $color-danger, $alpha: 0.7);

  &::before {
    content: "";
    width: rem(8);
    height: rem(8);
    background: var(--primary);
    position: absolute;
    top: rem(38);
    left: 0;
    border-radius: 50%;

    @include media(">=tablet") {
      width: rem(13);
      height: rem(13);
      top: rem(28);
    }
  }
}

.other-features__item-wrapper {
  padding: rem(32) 0 rem(24) rem(16);

  @include media(">=tablet") {
    padding: rem(24) 0 rem(24) rem(23);
  }
}

.other-features__item-name {
  margin-bottom: rem(8);

  @include media(">=tablet") {
    margin-bottom: rem(12);
  }

  h3 {
    @include size(14, 20);
    color: var(--primary);
    font-weight: var(--semi-bold);
    letter-spacing: rem(0.75);

    @include media(">=tablet") {
      @include size(18, 20);
    }
  }
}

.other-features__item-description {
  p {
    @include size(16, 20);
    color: var(--primary);
    font-family: var(--font-poppins);
    letter-spacing: rem(0.75);

    @include media(">=tablet") {
      @include size(16, 31);
    }
  }
}

.other-features__actions {
  padding-top: rem(48);
  padding-bottom: rem(64);

  @include media(">=tablet") {
    padding-top: rem(43.5);
    padding-bottom: rem(48);
  }
}
