@mixin body-16 {
  font-size: rem(16);
  font-weight: var(--font-regular);
  line-height: normal;
}

@mixin body-32 {
  font-size: rem(32);
  font-weight: var(--font-regular);
  line-height: normal;
}
