%description-12 {
  font-size: 1.2rem;

  @include media("<phone") {
    font-size: 3rem;
  }
}

%description-14 {
  font-size: rem(14);
}

%description-14-24 {
  font-family: var(--font-poppins);
  @include size(12, 20);

  @include media(">=phone") {
    @include size(14, 24);
  }
}

%description-16 {
  font-family: var(--font-poppins);
  @include size(12, 20);

  @include media(">=tablet") {
    @include size(14, 20);
  }

  @include media(">=tablet") {
    @include size(16, 20);
  }
}

%description-12-16 {
  font-family: var(--font-poppins);
  @include size(12, 20);

  @include media(">=phone") {
    @include size(14, 20);
  }

  @include media(">=tablet") {
    @include size(16, 24);
  }
}

%description-16-24 {
  font-family: var(--font-poppins);
  @include size(14, 20);

  @include media(">=tablet") {
    @include size(16, 24);
  }
}

%description-16-32 {
  font-family: var(--font-poppins);
  @include size(12, 20);

  @include media(">=phone") {
    @include size(14, 20);
  }

  @include media(">=tablet") {
    @include size(16, 32);
  }
}

%description-20 {
  font-family: var(--font-poppins);
  @include size(16, 20);

  @include media(">=tablet") {
    @include size(20, 24);
  }
}

%description-12-20 {
  font-family: var(--font-poppins);
  @include size(12, 20);

  @include media(">=phone") {
    @include size(14, 24);
  }

  @include media(">=tablet") {
    @include size(20, 24);
  }
}

%description-20-32 {
  @include size(12, 20);
  font-family: var(--font-poppins);
  font-weight: var(--light);

  @include media(">=phone") {
    @include size(14, 20);
  }

  @include media(">=tablet") {
    @include size(20, 32);
    letter-spacing: rem(0.75);
  }
}
