@mixin description-14 {
  font-size: rem(14);
  font-weight: var(--font-regular);
  line-height: normal;
}

@mixin description-16 {
  font-size: rem(16);
  font-weight: var(--font-regular);
  line-height: normal;
}

@mixin description-18 {
  font-size: rem(18);
  font-weight: var(--font-regular);
  line-height: normal;
}


@mixin description-32 {
  font-size: rem(32);
  font-weight: var(--font-regular);
  line-height: normal;
}
