@mixin title-14 {
  font-size: rem(14);
  font-weight: var(--font-extra-black);
  line-height: normal;
}
@mixin title-18 {
  font-size: rem(18);
  font-weight: var(--font-extra-black);
  line-height: normal;
}

@mixin title-20 {
  font-size: rem(20);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-22 {
  font-size: rem(22);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-24 {
  font-size: rem(24);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-28 {
  font-size: rem(28);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-32 {
  font-size: rem(32);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-36 {
  font-size: rem(36);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-40 {
  font-size: rem(40);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-42 {
  font-size: rem(42);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-56 {
  font-size: rem(56);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-60 {
  font-size: rem(60);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-62 {
  font-size: rem(62);
  font-weight: var(--font-extra-black);
  line-height: normal;
  letter-spacing: 0.5px;
}

@mixin title-56 {
  font-size: rem(56);
  font-weight: var(--font-extra-black);
  letter-spacing: 0.5px;
}

@mixin title-80 {
  font-size: rem(80);
  font-weight: var(--font-extra-black);
  line-height: rem(68.4);
  letter-spacing: 0.5px;
}

@mixin title-200 {
  font-size: rem(200);
  font-weight: var(--font-extra-black);
  line-height: rem(68.4);
  letter-spacing: 0.5px;
}

%title-28 {
  @include title-28;
}
