.featured-events {
  background-color: var(--color-light-turquoise);
}

.featured-events__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(36);

  @include media(">=tablet") {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  .swiper-navigation {
    @include media("<phone") {
      display: none;
    }
  }

  .swiper-events__see-more-btn {
    width: 100%;

    @include media(">=phone") {
      width: auto;
    }

    @include media("<phone") {
      display: block;
      margin-inline: auto;
    }
  }
}
