.featured-events {
  background-color: var(--color-light-turquoise);
}

.featured-events__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(36);

  @include media(">=tablet") {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}
