.guidance-steps {
  @include media(">=phone") {
    background-color: var(--color-primary);
  }
}

.guidance-steps__wrapper {
  background-color: var(--color-primary);
  padding: rem(32) rem(16);
  border-radius: rem(12);

  @include media(">=phone") {
    padding-inline: 0;
  }

  @include media(">=tablet") {
    padding-top: rem(52);
    padding-bottom: rem(52);
  }
}

.guidance-steps__title {
  color: var(--color-white);
  @extend %title-28;
  margin-bottom: rem(32);

  @include media(">=tablet") {
    margin-bottom: rem(24);
  }
}

.guidance-steps__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(24);

  @include media(">=phone") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.guidance-steps__link {
  display: block;
  position: relative;
  height: rem(180);
  border-radius: rem(8);
  overflow: hidden;

  @include media(">=tablet") {
    border-radius: rem(12);
    height: rem(243);
  }
}

.guidance-steps__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guidance-steps__overlay {
  position: absolute;
  border-radius: rem(8);
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: rem(12);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;

  @include media(">=tablet") {
    padding: rem(16);
    border-radius: rem(12);
    background: rgba(0, 0, 0, 0.2);
  }
}

.guidance-steps__number {
  margin-top: auto;
  font-size: rem(40);
  color: var(--color-white);
  font-weight: var(--font-bold);

  @include media(">=desktop-m") {
    font-size: rem(54);
  }
}

.guidance-steps__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(16);

  @include media(">=tablet") {
    gap: rem(20);
  }
}

.guidance-steps__icon {
  @extend %center;
  border-radius: 50%;
  background-color: var(--color-light-turquoise);
  width: rem(48);
  height: rem(48);

  @include media(">=desktop-m") {
    width: rem(64);
    height: rem(64);
  }

  svg {
    padding: rem(4);
    color: var(--color-black);

    @include media(">=desktop-m") {
      width: rem(44);
      height: rem(44);
      padding: rem(5);
    }
  }
}

.guidance-steps__paragraph {
  font-size: rem(18);
  font-weight: var(--font-bold);
  color: var(--color-white);
  flex: 1;

  @include media(">=desktop-m") {
    font-size: rem(24);
  }
}
