.hero {
  background: var(--alabaster);
  min-height: 570px;
  // @include media("height>720px") {
  //   min-height: rem(1070);
  // }
}

.hero__box__wrapper {
  padding: rem(100) rem(20);

  @include media("<tablet") {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media(">=tablet") {
    padding: rem(322) rem(370) rem(100);
  }
}

.hero__bend__bottom {
  svg path {
    fill: var(--alabaster);
  }
}
