.swiper-hero__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-hero__picture {
  width: 100%;
}

.swiper-hero__picture--img {
  width: 100%;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__content--body {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: rem(12);
  padding-bottom: rem(16);
}

.hero__content--title {
  font-size: rem(28);
  font-weight: var(--font-bold);
  color: var(--color-white);
  letter-spacing: rem(0.5);
}

.hero__content--text {
  color: var(--color-white);
  font-weight: var(--font-regular);
}

.hero__content--cta {
  font-size: rem(16);
  color: var(--color-white);
  width: fit-content;
}

