.hero {
  height: 85vh;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-hero__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-hero__slide {
  position: relative;
  overflow: hidden;
}

.swiper-hero__picture {
  width: 100%;
}

.swiper-hero__picture--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__container {
  margin-top: auto;
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-bottom: rem(60);
  }

  @include media(">=tablet") {
    padding-bottom: rem(84);
  }
}

.hero__content {
  max-width: rem(560);
}

.hero__content--title {
  @include title-28;
  color: var(--color-white);
  margin-bottom: rem(12);

  @include media(">=tablet") {
    @include title-80;
    height: rem(137);
  }
}

.hero__content--body {
  color: var(--color-white);
  margin-bottom: rem(12);
  max-width: rem(477);

  @include media(">=tablet") {
    @include description-32;
  }
}

.hero__content--buttons {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  @include media(">=phone") {
    flex-direction: row;
  }
}

.hero__content--cta {
  font-size: rem(16);
  white-space: nowrap;
  min-width: rem(242);
  font-weight: var(--font-semi-bold);
  width: rem(242);
  height: rem(51);

  @include media(">=phone-m") {
    width: fit-content;
  }
}
