.hero-swiper {
  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.swiper-hero__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-hero__picture {
  width: 100%;
}

.swiper-hero__picture--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @include media(">=tablet") {
    min-height: var(--full-hero-min-height);
    height: var(--full-hero-height);
    max-height: var(--full-hero-max-height);
    aspect-ratio: var(--full-hero-aspect-ratio);
  }
}

.hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__container {
  margin-top: auto;
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-bottom: rem(60);
  }

  @include media(">=tablet") {
    padding-bottom: rem(84);
  }
}

.hero__content {
  max-width: rem(560);
}

.hero__content--title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include title-28;
    color: var(--color-white);

    @include media(">=tablet") {
      @include title-80;
    }
  }
  margin-bottom: rem(30);
}

.hero__content--body {
  color: var(--color-white);
  margin-bottom: rem(30);
  max-width: rem(477);

  @include media(">=tablet") {
    @include description-32;
  }
}

.hero__content--buttons {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  @include media(">=phone") {
    flex-direction: row;
  }
}

.hero__content--cta {
  font-size: rem(16);
  white-space: nowrap;
  min-width: rem(242);
  font-weight: var(--font-semi-bold);
  width: rem(242);
  height: rem(51);

  @include media(">=phone-m") {
    width: fit-content;
  }
}

.hero-controls {
  margin-top: rem(8);
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  gap: rem(21);
  justify-content: center;
  align-items: center;
  padding-top: rem(20);
  padding-bottom: rem(20);

  @include media(">=tablet") {
    padding: 0;
    margin: 0;
  }
}

.home-hero-button-prev,
.home-hero-button-next {
  position: relative;
  cursor: pointer;

  @include media(">=tablet") {
    background-color: rgba(0, 135, 125, 0.7);
    border-radius: rem(999);
    padding: rem(13);
    z-index: 10;
  }

  &::before {
    content: "";
    display: block;
    width: rem(14);
    height: rem(14);
    background-color: var(--color-turquoise-three);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    @include media(">=tablet") {
      width: rem(30);
      height: rem(30);
      background-color: var(--color-white);
    }
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
    border-color: var(--color-secondary-grey);

    &::before {
      background-color: var(--color-secondary-grey);
    }
  }
}

.home-hero-button-prev {
  @include media(">=tablet") {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: rem(30);
  }
}

.home-hero-button-next {
  @include media(">=tablet") {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: rem(30);
  }
}

.home-hero-button-prev::before {
  mask-image: var(--chevron-left-icon);
  -webkit-mask-image: var(--chevron-left-icon);
}

.home-hero-button-next::before {
  mask-image: var(--chevron-right-icon);
  -webkit-mask-image: var(--chevron-right-icon);
}

.home-hero-pagination {
  display: flex;
  gap: rem(21);

  @include media(">=tablet") {
    gap: rem(24);
    position: absolute;
    background-color: rgba(0, 135, 125, 0.7);
    padding: rem(8);
    border-radius: rem(24);
    z-index: 10;
    bottom: rem(18);
  }

  .swiper-pagination-bullet {
    width: rem(10);
    height: rem(10);
    border: rem(1.66) solid var(--color-turquoise-three);
    border-radius: rem(999);

    @include media(">=tablet") {
      width: rem(16);
      height: rem(16);
      border: rem(1.66) solid var(--color-white);
      border-radius: rem(16);
      transition: width 0.3s linear;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-turquoise-three);

    @include media(">=tablet") {
      width: rem(32);
      background-color: var(--color-white);
      transition: width 0.3s linear;
    }
  }
}
