.programs__wrapper {
  padding-top: rem(40);
  padding-bottom: rem(32);

  @include media(">=tablet") {
    padding-top: rem(52);
    padding-bottom: rem(52);
  }
}

.programs__title {
  @include title-28;
  margin-bottom: rem(24);
}

.programs__cards {
  @include media("<phone") {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
    gap: rem(24);
  }
}

.programs__card {
  @include media(">=phone", "<desktop-s") {
    width: rem(300) !important;
  }

  @include media(">=desktop-s") {
    width: auto;
  }
}
