.testimonial__wrapper {
  padding: rem(32) 0 rem(32) 0;

  @include media(">=tablet") {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

.testimonial__title {
  @include title-28;
  margin-bottom: rem(24);
}

.testimonial-swiper-card {
  @include media("<desktop-s") {
    width: rem(305) !important;
  }
  width: auto;
}
