.testimonial__wrapper {
  padding: rem(32) 0 rem(32) 0;

  @include media(">=tablet") {
    padding: rem(60) rem(102) rem(60) rem(102);
  }
}

.testimonial__title {
  font-size: rem(28);
  font-weight: var(--font-bold);
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: rem(24);
}

.testimonial__card {
  width: rem(305);
  height: rem(456);
  border-radius: rem(12);
  overflow: hidden;
  background: var(--color-light-turquoise);
  display: flex;
  flex-direction: column;
}

.testimonial__card--img {
  width: 100%;
  height: rem(180);
  object-fit: cover;
}

.testimonial__card--content {
  padding: rem(20) rem(16) rem(24);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.testimonial__card--content__title {
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: rem(16);
  line-height: normal;
  color: var(--color-turquoise-three);
  margin-bottom: rem(8);
}

.testimonial__card--content__name {
  margin-top: auto;
  margin-bottom: rem(4);
  font-size: rem(18);
  font-style: normal;
  font-weight: var(--font-bold);
  line-height: normal;
}
