.testimonial__wrapper {
  padding: rem(32) 0 rem(32) 0;

  @include media(">=tablet") {
    padding: rem(60) rem(102) rem(60) rem(102);
  }
}

.testimonial__title {
  @include title-28;
  margin-bottom: rem(24);
}
