.why-wiener {
  @include media(">=phone") {
    background-color: var(--color-light-turquoise);
  }
}

.why-wiener__wrapper {
  background-color: var(--color-light-turquoise);
  border-radius: rem(20);
  margin-top: rem(24);
  padding: rem(32) rem(16) rem(36);

  @include media(">=phone") {
    margin-top: 0;
    padding-inline: 0;
  }

  @include media(">=tablet") {
    padding-top: rem(100);
    padding-bottom: rem(76);
  }
}

.why-wiener__title {
  @include title-28;
  margin-bottom: rem(32);

  @include media(">=tablet") {
    @include title-36;
  }
}

.why-wiener__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  align-items: center;
  gap: rem(32);

  @include media(">=tablet") {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(34);
  }
}

.why-wiener__subtitle {
  @include title-22;
  margin: rem(8) 0;
}

.why-wiener__cta {
  margin-top: rem(32);
  display: flex;
  justify-content: center;

  @include media(">=tablet") {
    margin-top: rem(62);
  }

  .btn-primary {
    color: var(--color-white);

    @include media(">=tablet") {
      color: var(--color-black);
    }
  }

  i {
    display: none;

    @include media(">=tablet") {
      display: inline-block;
    }
  }

  .icon--arrow {
    padding: rem(3);
  }
}
