.header {
  background-color: var(--color-light-turquoise);
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  min-height: rem(207);
  padding-top: rem(24);
  padding-bottom: rem(16);

  @include media(">=tablet") {
    padding: rem(24) rem(16);
    height: rem(244);
  }
}

.header--title {
  @include title-28;
  flex: 1;
}

.header__meta--date {
  display: block;
  color: var(--color-turquoise-one);
  margin-bottom: rem(12);
}

.header__meta--breadcrumbs {
  .breadcrumb__label:not(:last-child) {
    color: var(--color-black);
  }
  .separator {
    color: rgba(0, 135, 125, 0.5);
  }
}
