@import '@core-scss/common.scss';
@import '@custom-scss/common.scss';

/**
 * Global styles
 */
html,
body {
  background-color: var(--white);
}

html,
body {
  font-family: var(--font-primary);
  font-weight: var(--regular);
  font-size: var(--base-font-size);
  color: var(--color-secondary);
  counter-reset: section;
  line-height: 1.5;
  overflow-x: hidden;
}

main,
header,
section,
footer {
  width: 100%;
}

main {
  overflow: hidden;
}

a,
button {
  user-select: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  .container {
    padding-left: unset;
    padding-right: unset;
  }
}
