@import './presentation.scss';
@import './purpose.scss';
@import './quote.scss';
@import './authorities.scss';
@import './certifications.scss';
@import './more.scss';
@import "./../../components/ui/hero-slide";
