.us-quote__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(61);

  @include media(">=tablet") {
    padding-top: rem(64);
    padding-bottom: rem(44);
  }
}

.us-quote__title {
  @include title-32;
  margin-bottom: rem(32);
}

.us-quote__card {
  border-radius: rem(20);
  overflow: hidden;
  position: relative;

  @include media(">=phone") {
    display: flex;
  }
}

.us-quote__card__right {
  width: 100%;
  height: rem(536);

  @include media(">=phone") {
    height: rem(376);
    width: 49%;
  }
}

.us-quote__card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.us-quote__card__left {
  position: absolute;
  inset: 0;
  padding: rem(16);
  background: linear-gradient(
    201deg,
    rgba(0, 102, 158, 0.09) 40.81%,
    rgba(0, 102, 158, 0.8) 80.83%
  );
  display: flex;
  flex-direction: column;
  color: var(--color-white);

  @include media(">=phone") {
    position: static;
    width: 51%;
    background: linear-gradient(339deg, #00669e 48.97%, #08e1e6 94.21%);

    padding: rem(36);
  }
}

.us-quote__card__desc {
  @include title-28;
  margin-bottom: rem(20);
  margin-top: auto;
}

.us-quote__card__name {
  @include title-20;
  margin-bottom: rem(4);
}
