@use 'widgets/headline' as *;
@use 'widgets/title' as *;
@use 'widgets/button' as *;
@use 'widgets/link' as *;

@include set-css-vars($font-families);
@include set-css-vars($colors);
@include set-css-vars($transitions);
@include set-css-vars($breakpoints, true);
@include set-css-vars($sizes, true);
@include set-css-vars($custom, true);
