.mobile_menu {
  display: none;
  width: 100%;
  height: 0%;
  margin: 0;
  padding: 59px 0 0;
  transition: var(--def-transition-500ms);
  will-change: height;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;

  @include screen-size($from: null, $to: tablet-lg) {
    display: block;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: set-color(--color-black, 0);
    transition: var(--def-transition-500ms);
    will-change: background-color;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__active {
    height: 100%;

    &::before {
      background-color: set-color(--color-black, 0.6);
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  &__inner {
    width: 100%;
    background-color: var(--color-white);

    // the first list
    & > ul {
      background-color: var(--color-primary);
      transition: var(--def-transition-300ms);
      will-change: height, transform;
      position: relative;

      & > li {
        display: block;

        & > a {
          color: var(--color-white);
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background-color: var(--color-athens-gray);
        color: var(--color-accent);
        padding: 12px 16px 12px 10px;

        span,
        i {
          display: inline-block;
        }

        span {
          margin-top: 2px;
        }

        i {
          max-width: calc(100% - 24px);
          font-weight: var(--medium);
          font-style: normal;
          margin-left: 5px;
        }
      }

      ul {
        display: block;
        width: 100%;
        background-color: var(--color-white);
        transform: translateX(100%);
        pointer-events: none;
        opacity: 0;
        transition: var(--def-transition-300ms);
        will-change: opacity;
        position: absolute;
        top: 0;
        left: 0;

        a {
          color: var(--color-primary);

          [stroke='white'] {
            stroke: var(--color-primary);
          }
        }
      }
    }

    // the global lists
    ul {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;

        i {
          font-style: normal;
        }

        span {
          display: inline-block;
          position: relative;

          &::before {
            content: '';
            display: block;
            width: 48px;
            height: 48px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
          }

          svg {
            pointer-events: none;
          }
        }
      }
    }
  }

  &__adn {
    background-color: var(--color-white);
    padding: 12px;

    ul {
      display: block;
      margin: 0 -10px;

      li,
      a {
        display: inline-block;
      }

      a {
        font-size: 12px;
        color: var(--color-mako);
        padding: 5px 10px;

        @include screen-size($from: phone-xl, $to: tablet-lg) {
          font-size: 16px;
        }
      }
    }

    .dropdown {
      margin: 5px 0 0;
      user-select: none;
      position: relative;

      &:hover {
        ul {
          pointer-events: all;
          opacity: 1;
          transform: translateY(5px) scale(1);
        }
      }

      &__placeholder {
        cursor: pointer;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 86px;
          height: 58px;
          position: absolute;
          top: 20%;
          left: 0;
        }

        span {
          display: inline-block;
          width: 13px;
          height: 8px;
          margin: 0 5px -2px 0;
          position: relative;

          svg {
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        i {
          font-style: normal;
          font-size: 12px;
          color: var(--color-mako);
        }

        div {
          width: 17px;
          height: 16px;
          margin: 1px 0 0 4px;
        }

        [stroke='white'] {
          stroke: var(--color-mako);
        }
      }

      &__list {
        background-color: var(--color-mako);
        pointer-events: none;
        opacity: 0;
        transform: translateY(10px) scale(0.98);
        transition: opacity var(--def-transition-300ms), transform var(--def-transition-300ms);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;

        a {
          padding: 5px 10px;
          transition: background-color var(--def-transition-300ms);

          &:hover {
            background-color: var(--color-primary);

            i {
              color: var(--color-white);
            }
          }
        }

        span,
        i {
          display: inline-block;
        }

        span {
          width: 13px;
        }

        i {
          font-style: normal;
          font-size: 14px;
          color: var(--color-secondary);
          margin: 0 0 0 4px;
          transition: color var(--def-transition-300ms);
        }
      }
    }
  }
}
