.featured-events__wrapper {
  margin-top: rem(24);

  @include media(">=tablet") {
    margin-top: rem(52);
  }

  .swiper-events__cards {
    @include media("<phone") {
      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      gap: rem(42);
    }
  }

  .swiper-events__title {
    margin-bottom: rem(32);

    @include media(">=tablet") {
      margin-bottom: rem(24);
    }
  }

  .event-card {
    width: 100%;
    @include media(">=phone") {
      width: rem(280);
    }
  }

  .swiper-events__swiper-navigation {
    display: none;
  }
}
