.blog-detail {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media(">=tablet") {
    flex-direction: row;
    gap: rem(34);
    margin-top: rem(72);
    margin-bottom: rem(70);
  }
}

.blog-detail__article {
  flex: 1;
  margin-inline: rem(-16);


  @include media(">=phone") {
    margin-inline: rem(-24);
  }

  @include media(">=tablet") {
    margin-inline: 0;
  }
}

.blog-detail__aside {
  width: 32%;
}
