.entry-card-compact {
  overflow: hidden;
}

.entry-card-compact__wrapper {
  display: flex;
  height: 100%;
  gap: rem(12);
}

.entry-card-compact__image {
  width: rem(120);
  height: rem(96);
  border-radius: rem(16);
  object-fit: cover;
  object-position: center;
}

.entry-card-compact__content {
  flex: 1;
}

.entry-card-compact__title {
  font-weight: var(--font-semi-bold);
  margin-bottom: rem(4);
  color: var(--color-black);
}

.entry-card-compact__date {
  display: inline-block;
  font-size: rem(14);
  color: var(--color-asu-grey);
  margin-bottom: rem(8);
}

.entry-card-compact__desc {
  color: var(--color-black);
  font-size: rem(14);
}
