.related-entries__title {
  @include title-32;
  margin-bottom: rem(24);

  @include media(">=tablet") {
    font-size: rem(30);
    margin-bottom: rem(36);
  }
}

.related-entries__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
  gap: rem(24);

  @include media(">=tablet") {
    grid-template-columns: 1fr;
    gap: rem(36);
  }

  .entry-card-compact {
    display: none;

    @include media(">=tablet") {
      display: block;
    }
  }

  .entry-card {
    @include media(">=tablet") {
      display: none;
    }
  }
}
