.social-meta {
  display: flex;
  gap: rem(16);

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.social-meta__share-button {
  color: var(--color-asu-grey);
  display: flex;
  gap: rem(10);
  align-items: center;
  cursor: pointer;
}
