.popup__authorities {
  &__thumb {
    width: 230px;
    height: 0;
    padding-top: 35%;
    position: relative;

    @include media('<=phone-lg') {
      width: 100%;
      padding-top: 100%;
    }
  }

  &__meta {
    width: calc(100% - 230px);
    padding: 0 0 0 20px;

    @include media('<=phone-md') {
      padding: 30px 15px 15px;
    }

    @include media('>phone-md', '<=phone-lg') {
      padding: 30px 0 0;
    }

    @include media('<=phone-lg') {
      width: 100%;
    }

    &__chapter {
      margin: 15px 0;

      & > div {
        margin: 0 0 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    & > h6 {
      font-size: 28px !important;
    }

    h5,
    h6 {
      font-family: var(--font-secondary);
      font-weight: var(--bold);
      color: var(--color-primary);
      line-height: 1.3;
    }

    h5 {
      font-size: 20px;
      margin: 0 0 10px;
    }

    h6 {
      font-size: 18px;
    }

    small {
      font-size: 14px;
      color: var(--color-storm-gray);
    }

    a {
      color: var(--color-tuna);
      transition: color var(--def-transition-300ms);

      &:hover {
        color: var(--primary-color);
      }
    }

    p {
      margin: 0 0 15px;

      &:last-of-type {
        margin: 0 0 15px;
      }
    }
  }

  .popup {
    &__container {
      max-width: 840px;
      width: 100%;

      &__inner {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-height: 80vh;
        padding: 30px;
        overflow-y: auto;
        @include media('<=phone-md') {
          padding: 0;
        }
        @include media('>phone-md', '<=phone-lg') {
          padding: 40px 38px 15px;
        }
      }
    }
  }
}
