.popup__content_partner {
  &__thumb {
    width: 230px;
    height: 0;
    padding-top: 30%;
    position: relative;
  }

  &__meta {
    width: calc(100% - 230px);
    padding: 0 0 0 20px;

    h6 {
      font-family: var(--font-secondary);
      font-weight: var(--bold);
      font-size: 28px;
      color: var(--color-primary);
      line-height: 1.3;
    }

    small {
      font-size: 14px;
      color: var(--color-storm-gray);
    }

    p {
      margin: 15px 0 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .popup {
    &__container {
      display: flex;
      flex-flow: row;
      max-width: 840px;
      width: 100%;
      padding: 30px;
    }
  }
}
