.flipper {
  width: 100%;
  height: 100%;
  padding: 40px 65px;
  text-align: center;
  margin: 0 auto;

  @include screen-size($from: null, $to: tablet-lg) {
    padding: 0;
  }

  @include screen-size($from: null, $to: phone-xl) {
    padding: 0;
  }

  &__book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    &__inner {
      width: calc(var(--flipper-page-width) * 2);
      height: var(--flipper-page-height);
      perspective: var(--flipper-perspective); // 2000px
      transition: transform 0.7s ease-in-out;
      position: relative;

      @include screen-size($from: null, $to: tablet-lg) {
        width: var(--flipper-page-width);
      }

      &.scroll__start {
        @include screen-size($from: null, $to: tablet-lg) {
          transform: translateX(var(--flipper-page-width));
        }
      }

      &.cover {
        &__start {
          @include screen-size($from: tablet-lg, $to: null) {
            transform: translateX(calc(var(--flipper-page-width-negative) / 2));
          }
        }

        &__end {
          @include screen-size($from: tablet-lg, $to: null) {
            transform: translateX(calc(var(--flipper-page-width) / 2));
          }
        }
      }
    }

    &__page {
      max-width: var(--flipper-page-width);
      max-height: var(--flipper-page-height);
      width: 100%;
      height: 100%;
      transform-origin: left;
      transform-style: preserve-3d;
      transition: 0.7s ease-in-out;
      position: absolute;
      right: 0;

      img {
        &.front,
        &.back {
          margin: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-size: 200%;
          background-repeat: no-repeat;
          backface-visibility: hidden;
          background-color: var(--color-white);
          overflow: hidden;
        }

        &.front {
          background-position: right;
          box-shadow: 2px 2px 15px -2px rgb(0 0 0 / 20%);
        }

        &.back {
          background-position: left;
          box-shadow: -2px 2px 15px -2px rgb(0 0 0 / 20%);
          transform: rotateY(180deg) translateZ(0);
        }
      }
    }

    &__navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 15px;
      transform: translateY(-50%) translateZ(0);
      position: absolute;
      top: 50%;
      left: 0;

      @include screen-size($from: null, $to: tablet-lg) {
        justify-content: center;
        top: 100%;
        transform: translateY(-62px) translateZ(0);
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: set-color(--color-primary, 1);
        border: 1px solid var(--color-primary);
        margin: 0 5px;
        transition: background-color var(--def-transition-300ms);

        &:hover {
          background-color: var(--color-white);

          svg {
            transform: scale(1.4) translateZ(0);
          }

          [stroke^='#'] {
            stroke: var(--color-primary);
          }
        }

        &:first-of-type {
          background-color: set-color(--color-primary, 0);
          margin-left: 0;

          &:hover {
            background-color: set-color(--color-primary, 1);

            [stroke^='#'] {
              stroke: var(--color-white);
            }
          }

          [stroke^='#'] {
            stroke: var(--color-primary);
          }
        }

        &:last-child {
          margin-right: 0;
        }

        svg {
          transition: transform var(--def-transition-300ms);
        }

        [stroke^='#'] {
          stroke: var(--color-white);
          transition: var(--def-transition-300ms);
        }
      }
    }
  }
}

.flip {
  transform: rotateY(-180deg) translateZ(0);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: rgb(0 0 0 / 10%);
  }
}
