.search_box {
  width: 100%;
  background-color: var(--color-white-lilac);
  margin: 0 0 30px;
  padding: 15px;

  &__inner {
    flex-wrap: nowrap;
    width: 100%;

    @include media('<=phone-md') {
      flex-wrap: wrap;
    }

    & > div {
      &:first-of-type {
        width: calc(100% - 135px);
        background-color: var(--color-white);

        @include media('<=phone-md') {
          width: 100%;
        }
      }

      &:last-of-type {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        width: 135px;

        @include media('<=phone-md') {
          width: 100%;
          justify-content: center;
          margin: 15px 0 0;
        }
      }
    }
  }

  label,
  input {
    display: block;
    width: 100%;
  }

  label {
    border-bottom: 1px solid var(--color-bombay);
    padding: 8px 16px;

    span {
      display: inline-block;
      font-family: var(--font-secondary);
      font-weight: var(--regular);
      font-size: 14px;
      color: var(--color-primary);
      padding: 0 2px;

    }
  }

  input {
    font-weight: var(--regular);
    font-size: 18px;
    color: var(--color-mako);
    background-color: var(--color-white);
    border: none;
    outline: none;

    @include placeholder {
      color: var(--color-mako);
    }
  }

  button {
    @include media('<=phone-md') {
      width: 100%;
    }
  }
}
