.accordion-item {
  .accordion-header {
    display: flex;
    justify-content: space-between;
    gap: rem(12);
    align-items: center;
    cursor: pointer;

    i {
      color: var(--color-primary);
      transition: transform 0.3s ease;

      svg {
        padding: rem(3.4);
      }
    }
  }

  .accordion-label {
    font-size: rem(18);
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
    will-change: max-height, opacity;
    a {
      text-decoration: underline;
    }
  }

  &.is-open {
    .accordion-header {
      i {
        transform: rotate(180deg);
      }
    }

    .accordion-content {
      max-height: rem(1000);
      opacity: 1;
    }
  }
}

.accordion-item.accordion-standard {
  border-bottom: 1px solid var(--color-secondary-grey);

  &:not(:last-child) {
    margin-bottom: rem(12);
  }

  .accordion-header {
    min-height: rem(88);
  }

  .accordion-label {
    font-weight: var(--font-semi-bold);
  }

  &.is-open {
    .accordion-header {
      height: auto;
    }

    .accordion-content {
      padding: rem(24) rem(0) rem(12);
    }
  }
}

.accordion-item.accordion-filled {
  &:not(:last-child) {
    margin-bottom: rem(16);
  }

  .accordion-header {
    padding: rem(16);
    background-color: var(--color-light-turquoise);
    border-radius: rem(12);
    border: 1px solid transparent;
    position: relative;
  }

  .accordion-label {
    font-weight: var(--font-medium);
  }

  .accordion-content {
    margin-left: rem(14);
    border: 1px solid var(--color-primary);
    border-top: none;
    border-radius: 0 0 rem(12) rem(12);
    padding-inline: rem(24);

    @include media(">=tablet") {
      margin-left: rem(77);
    }
  }

  &.is-open {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    .accordion-header {
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: rem(24);
        background-color: var(--color-primary);
        right: -0.5px;
        bottom: rem(-12);

        @include media(">=phone") {
          right: rem(-1);
        }
      }
    }

    .accordion-header {
      border: 1px solid var(--color-primary);
    }

    .accordion-content {
      padding-top: rem(20);
      padding-bottom: rem(20);
    }
  }
}
