.cookies-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.4s cubic-bezier(0.7, 0.3, 0.3, 1),
    opacity 0.3s;

  &.is-active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.cookies-banner__wrapper {
  padding-top: rem(16);
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-top: rem(24);
    padding-bottom: rem(24);
    text-align: center;
  }

  @include media(">=tablet") {
    padding-top: rem(32);
    padding-bottom: rem(32);
  }
}

.cookies-banner__title {
  @include title-18;
  margin-bottom: rem(16);
}

.cookies-banner__btn {
  margin-top: rem(16);
  min-width: rem(120);
}
