.country__card {
  width: rem(124);
  background-color: var(--color-white);
  border-radius: rem(24);
  padding: rem(24) 0;
  text-align: center;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.country__flag {
  width: rem(80);
  height: rem(80);
  margin: 0 auto rem(16);
}

.country__country {
  @include title-18;
}
