.cta-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(26) rem(28);
  border-radius: rem(20);
  background-color: var(--color-turquoise-one);

  @include media(">=tablet") {
    padding: rem(58);
  }
}

.cta-card--title {
  @include title-28;
  margin-bottom: rem(12);
  text-align: center;

  @include media(">=tablet") {
    max-width: rem(486);
  }
}

.cta-card--description {
  font-weight: var(--font-semi-bold);
  text-align: center;
  margin-bottom: rem(36);

  @include media(">=tablet") {
    margin-bottom: rem(24);
  }
}

.cta-card--button {
  border-radius: rem(8);
  width: fit-content;
}
