.details-modal {
  .modal-container {
    max-width: rem(760);
  }

  .modal-close {
    top: rem(-30) !important;
    right: rem(-14) !important;
  }

  .modal-header {
    svg {
      @include media(">=tablet") {
        width: rem(32);
        height: rem(32);
      }
    }
  }

  .modal-body {
    padding: rem(16);
  }
}

.details-modal__content {
  margin-inline: auto;
}

.details-modal__card {
  position: relative;
}

.details-modal__card--img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
  border-radius: rem(8);

  @include media(">=tablet") {
    border-radius: rem(12);
  }
}

.details-modal__card--desc {
  width: calc(100% - 32px);
  position: absolute;
  bottom: rem(4);
  left: 50%;
  transform: translateX(-50%);

  font-size: rem(14);
  padding: rem(4) rem(8);
  border-radius: rem(8);
  background-color: var(--color-primary);

  @include media(">=tablet") {
    width: calc(100% - 48px);
    border-radius: rem(12);
    padding-inline: rem(12);
  }
}

.details-modal__navigation {
  margin-top: rem(10) !important;
}
