.entry-card {
  border-radius: rem(16);
  border: 1px solid var(--color-light-grey);
  overflow: hidden;
}

.entry-card__image {
  height: rem(171);
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.entry-card__content {
  padding: rem(12);
}

.entry-card__title {
  @include title-22;
  margin-bottom: rem(16);
}

.entry-card__date {
  display: inline-block;
  font-size: rem(14);
  color: var(--color-asu-grey);
  margin-bottom: rem(16);
}

.entry-card__desc {
  margin-bottom: rem(12);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.entry-card__button {
  padding: rem(7) rem(15);
  justify-content: space-between;

  svg {
    width: rem(22);
    height: rem(18);
  }
}
