.entry-card {
  border-radius: rem(16);
  border: 1px solid var(--color-light-grey);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.entry-card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.entry-card__content {
  padding: rem(12);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.entry-card__title {
  @include title-18;
}

.entry-card__tags {
  margin-top: rem(16);
  display: inline-flex;
  gap: rem(8);
  flex-wrap: wrap;
}

.entry-card__tags--tag {
  display: block;
  padding: rem(6) rem(8);
  border-radius: rem(8);
  background-color: var(--color-light-turquoise);
  font-size: rem(12);
}

.entry-card__date {
  display: inline-block;
  font-size: rem(14);
  color: var(--color-asu-grey);
}

.entry-card__desc {
  margin-top: rem(16);
}

.entry-card__button--container {
  margin-top: auto;
}

.entry-card__button {
  margin-top: rem(12);
  width: fit-content;
  padding: rem(7) rem(15) rem(7) rem(0);
  justify-content: space-between;

  svg {
    width: rem(22);
    height: rem(18);
  }
}
