.event-card {
  border-radius: rem(16);
  width: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-secondary-grey);
  display: flex;
  flex-direction: column;
}

.event-card--img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: rem(16);
  border-top-right-radius: rem(16);
}

.event-card--content {
  padding: rem(16) rem(12) rem(33);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.event-card--title {
  @include title-22;
}

.event-card--row {
  display: flex;
  justify-content: space-between;
  gap: rem(16);

  &:first-child {
    flex: 1;
  }
}

.event-card--info--title {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: rem(4);
}

.event-card--info--desc {
  display: block;
  @include title-22;
  color: var(--color-primary);
}

.event-card--cta {
  justify-content: space-between;
  padding: rem(7) rem(15);

  .icon--arrow {
    padding: rem(4);

    @include media(">=tablet") {
      width: rem(24);
      height: rem(24);
      padding: rem(3);
    }
  }
}
