.event-card {
  border-radius: rem(16);
  width: 100%;
  height: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-secondary-grey);
  display: flex;
  flex-direction: column;
}

.event-card-ribbon--inner {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #57dd43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: #57dd43;
  text-align: center;
}
.event-card-ribbon--wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}
.event-card-ribbon--wrap:before,
.event-card-ribbon--wrap:after {
  content: "";
  position: absolute;
}
.event-card-ribbon--wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #4d6530;
  border-radius: 8px 8px 0px 0px;
}
.event-card-ribbon--wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #4d6530;
  border-radius: 0px 8px 8px 0px;
}

.event-card--img {
  width: 100%;
  aspect-ratio: 1.9;
  object-fit: cover;
  border-top-left-radius: rem(16);
  border-top-right-radius: rem(16);
}

.event-card--content {
  padding: rem(16) rem(12) rem(33);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.event-card--title {
  @include title-22;
}

.event-card--row {
  display: flex;
  justify-content: space-between;
  gap: rem(16);

  &:first-child {
    flex: 1;
  }
}

.event-card--info--title {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: rem(4);
}

.event-card--info--desc {
  display: block;
  @include title-22;
  color: var(--color-primary);
}

.event-card--cta {
  margin-top: auto;
  justify-content: space-between;
  padding: rem(7) rem(15);

  .icon--arrow {
    padding: rem(4);

    @include media(">=tablet") {
      width: rem(24);
      height: rem(24);
      padding: rem(3);
    }
  }
}
