.formatted-content {
  p,
  span {
    margin-bottom: rem(12);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: rem(16);
    margin-bottom: rem(16);
    font-weight: var(--font-semi-bold);
  }

  span {
    color: var(--color-asu-grey);
  }

  ul {
    & > *:not(:last-child) {
      margin-bottom: rem(16);
    }

    li {
      display: flex;
      gap: rem(12);

      &:before {
        content: "";
        width: rem(13);
        min-width: rem(13);
        height: rem(13);
        border-radius: rem(999);
        display: inline-block;
        margin: rem(3.5);
        background-color: var(--color-primary);
      }
    }
  }
}
