.hero-slide {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.hero-slide__picture,
.hero-slide__video {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-slide__picture--img,
.hero-slide__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @include media(">=tablet") {
    min-height: calc(100vh - var(--navbar-height-desktop));
    max-height: calc(100vh - var(--navbar-height-desktop));
  }
}

.hero-slide__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-slide__container {
  margin-top: auto;
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-bottom: rem(27);
  }
}

.hero-slide__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @include title-28;
    color: var(--color-white);

    margin-bottom: rem(8);
    @include media(">=tablet") {
      @include title-56;
      margin-bottom: rem(85);
    }
  }
}

.hero-slide[data-variant="primary"] {
  .hero-slide__content {
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include title-40;
      @include media(">=tablet") {
        @include title-56;
        margin-bottom: rem(85);
      }
    }
  }

  .breadcrumb__label.current {
    color: var(--color-white);
  }
}
