.hero-slide {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.hero-slide__picture,
.hero-slide__video {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-slide__picture--img,
.hero-slide__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  @include media(">=tablet") {
    min-height: var(--full-hero-min-height);
    height: var(--full-hero-height);
    max-height: var(--full-hero-max-height);
    aspect-ratio: var(--full-hero-aspect-ratio);
  }
}

.hero-slide__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-slide__container {
  margin-top: auto;
  padding-bottom: rem(16);

  @include media(">=phone") {
    padding-bottom: rem(27);
  }
}

.hero-slide__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @include title-28;
    color: var(--color-white);
    @include media(">=tablet") {
      @include title-56;
    }
  }
  .highlight {
    display: inline-block;
    background-color: var(--color-asu-gold);
    font-size: rem(15);
    padding: rem(5) rem(10);
    border-radius: rem(5);
  }
}
.hero-slide__title {
  margin-bottom: rem(8);
  @include media(">=tablet") {
    margin-bottom: rem(85);
  }
}
.hero-slide[data-variant="primary"] {
  .hero-slide__content {
    border: 3px solid red;
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include title-40;
      @include media(">=tablet") {
        @include title-56;
        margin-bottom: rem(85);
      }
    }
  }

  .breadcrumb__label.current {
    color: var(--color-white);
  }
}
