.impact-results {
  background-color: var(--color-primary);
}

.impact-results__wrapper {
  padding: rem(32) 0;

  @include media(">=tablet") {
    padding-top: rem(52);
    padding-bottom: rem(52);
  }
}

.impact-results__title {
  color: var(--color-white);
  @extend %title-28;
  margin-bottom: rem(24);
}

.impact-results__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);

  @include media(">=phone-576") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(">=tablet") {
    gap: rem(24);
  }
}

.impact-results__item {
  background-color: var(--color-white);
  padding: rem(24) rem(20);
  border-radius: rem(20);
}

.impact-results__subtitle {
  @include title-22;
  color: var(--color-cp);
  text-align: center;

  @include media(">=tablet") {
    text-align: left;
  }
}
