@import "./swiper-hero";
@import "./testimonial-card";
@import "./nav-tabs";
@import "./country-card";
@import "./see-more-btn";
@import "./admission-ad";
@import './body-w-list';
@import './event-card';
@import './infra-card';
@import './accordion';
@import './formatted-content';
@import "./testimonials";
@import "./internationalization";
@import "./program-card";
@import "./last-news-card";
