@import "./hero-slide";
@import "./testimonial-card";
@import "./nav-tabs";
@import "./country-card";
@import "./see-more-btn";
@import "./event-card";
@import "./infra-card";
@import "./testimonials";
@import "./program-card";
@import "./entry-card";
@import "./entry-card-compact";
@import "./featured-news";
@import "./video-w-thumbnail";
@import "./swiper-events";
@import "./search-input";
@import "./cta-card";
@import "./faq-section";
@import "./contact-form";
@import "./pagination";
