@import "./swiper-hero";
@import "./hero-slide";
@import "./testimonial-card";
@import "./nav-tabs";
@import "./country-card";
@import "./see-more-btn";
@import './body-w-list';
@import './event-card';
@import './infra-card';
@import './accordion';
@import "./testimonials";
@import "./internationalization";
@import "./program-card";
@import "./entry-card";
@import "./entry-card-compact";
@import "./featured-news";
@import "./video-w-thumbnail";
@import "./swiper-events";
@import "./search-input";
@import "./cta-card";
