.infra-card {
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.infra-card__image {
  img {
    width: 100%;
    height: rem(200);
    object-fit: cover;
  }
}

.infra-card__body {
  flex-grow: 1;
  background-color: var(--color-light-turquoise);
  padding: rem(24) rem(16);
}

.infra-card__name {
  @include title-18;
  margin-bottom: rem(8);
}

