@import "./../forms.scss";

.more-form {
  width: 100%;
  border-radius: rem(20);
  overflow: hidden;
}

.more-form__header {
  @include media(">=phone") {
    justify-content: center;
  }
}

.more-form__header--title {
  max-width: none;
}

.more-form-body {
  padding-top: rem(24) !important;
}

.more-form-body__radio {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(12) !important;

  @include media(">=phone-576") {
    flex-direction: row;
  }
}

.more-form-body__fields {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: rem(42);
  column-gap: rem(32);
}

.more-form-body__actions {
  button {
    @include media(">=phone") {
      max-width: rem(308);
    }
  }
}

.more-modal {
  .modal-container {
    max-width: rem(714);
  }
}

.more-form__shadow-box {
  width: 100%;
  border-radius: rem(20);
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.more-form__responsive {
  @include media('<=phone-576') {
    .more-form-body__row {
      flex-direction: column;
      margin-bottom: 0;

      .f-50 {
        width: 100%;
        max-width: none;
        margin-bottom: rem(26);
      }
    }
  }
}
