.program-card {
  border: 1px solid var(--color-light-grey);
  border-radius: rem(16);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.program-card--img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
  max-height: rem(180);
}

.program-card--content {
  padding: rem(24) rem(16) rem(16) rem(16);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.program-card--content__title {
  @include title-22;
  padding-bottom: rem(10);
}

.program-card--content__description {
  margin-bottom: auto;
  font-size: rem(18);
}

.program-card--content__cta {
  margin-top: rem(24);
}
