.program-card {
  background-color: var(--color-light-grey);
  border-radius: rem(16);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.program-card--img {
  height: rem(140);
  width: 100%;
  object-fit: cover;

  @include media(">=phone") {
    height: rem(122);
  }
}

.program-card--content {
  padding: rem(24) rem(16) rem(16) rem(16);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.program-card--content__title {
  @include title-22;
  padding-bottom: rem(8);
}

.program-card--content__description {
  padding-bottom: rem(24);
  margin-bottom: auto;
}

.program-card--content__cta {
  color: var(--color-white);
  width: 100%;

  @include media(">=phone") {
    color: var(--color-black);
  }

  .icon--arrow {
    display: none;

    @include media(">=phone") {
      display: block;
      padding: rem(3);
    }
  }
}
