.rich-text-modal {
  .modal-container {
    max-width: rem(800);
  }

  .modal-body {
    padding: rem(12) rem(22) rem(20);
  }
}

.rich-text-modal__body {
  padding-bottom: rem(20);
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4 {
  font-weight: 700;
  line-height: 1.3;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.rich-text h1 {
  @include title-28;

  @include media(">=phone") {
    @include title-32;
  }
}

.rich-text h2 {
  @include title-22;
}

.rich-text h3 {
  @include title-20;
}

.rich-text h4 {
  @include title-18;
}

.rich-text p {
  margin-bottom: 1.25em;
}

.rich-text a {
  color: var(--color-turquoise-three);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.rich-text ul,
.rich-text ol {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

.rich-text li {
  margin-bottom: 0.5em;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    width: rem(10);
    height: rem(10);
    background-color: var(--color-primary);
    border-radius: rem(999);
    left: rem(-20);
    top: rem(4);
  }
}

.rich-text strong {
  font-weight: 700;
  color: #000;
}

.rich-text em {
  font-style: italic;
}

.rich-text blockquote {
  margin: 1.5em 0;
  padding: 1em 1.5em;
  border-left: 5px solid var(--color-primary);
  background-color: var(--color-light-grey);
  color: var(--color-asu-grey);
  font-style: italic;
  border-radius: 0 rem(4) rem(4) 0;
}
