.search-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--color-black);
  gap: rem(12);
  padding-bottom: rem(13);
  border-bottom: 1px solid var(--color-turquoise-two);
}

.search-input__field {
  flex: 1;
  font-size: rem(18);
}

.search-input__clear {
  margin-left: rem(8);
  display: none;
  color: var(--color-turquoise-two);
  cursor: pointer;

  &:hover, &:focus {
    color: var(--color-turquoise-one);
  }
}

.blog-search-form__button {
  width: 100%;
  height: rem(42);
  padding: rem(16) rem(32);
  max-width: rem(328);
}
