.see-more-btn {
  padding: rem(7) rem(15);
  justify-content: space-between;
  width: 100%;

  @include media(">=phone") {
    width: auto;
    justify-content: center;
    padding: rem(15) rem(31);
  }

  @include media(">=tablet") {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid transparent;
  }

  .icon--arrow {
    padding: rem(4);

    @include media(">=tablet") {
      width: rem(24);
      height: rem(24);
      padding: rem(3);
    }
  }
}
