.see-more-btn {
  @include media("<tablet") {
    padding: rem(7) rem(15);
    height: rem(48);
    font-size: rem(16);
    font-weight: var(--font-bold);
    line-height: rem(24);

    width: 100%;
    justify-content: space-between;
  }

  @include media(">=tablet") {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid transparent;
  }

  .icon--arrow {
    padding: rem(4);

    @include media(">=tablet") {
      width: rem(24);
      height: rem(24);
      padding: rem(3);
    }
  }
}
