.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__navigation {
  margin-inline: auto;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  padding: rem(4);
  border-radius: rem(64);
  gap: rem(12);
  background-color: var(--color-light-turquoise);
}

.tab__item-wrapper {
  width: auto !important;
}

.tab__item {
  font-size: rem(18);
  padding: rem(8) rem(16);
  border-radius: rem(32);
  color: var(--color-black);
  border: 1px solid transparent;
  font-weight: var(--font-regular);
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
  }

  &.is-active {
    @include title-18;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
