.tabs__navigation-container {
  @extend .x-container;
  display: flex;
  flex-direction: column;
  margin-top: rem(20);

  @include media(">=tablet") {
    padding-inline: rem(81);
    margin-top: rem(63);
  }
}

.tabs__navigation-swiper {
    padding-inline: rem(16) !important;
    margin-inline: rem(-16) !important;

  @include media(">=phone") {
    padding-inline: rem(24) !important;
    margin-inline: rem(-24) !important;
  }

  @include media(">=tablet") {
    padding-inline: rem(81) !important;
    margin-inline: rem(-81) !important;
  }

  margin-inline: auto;
}

.tabs__navigation {
  padding: rem(4) !important;
  border-radius: rem(64);
  background-color: var(--color-light-turquoise);
  width: max-content !important;
}

.tab__item-wrapper {
  width: auto !important;
  height: auto !important;
  margin-right: rem(12) !important;

  &:last-of-type {
    margin-right: 0 !important;
  }
}

.tab__item {
  padding: rem(8) rem(16);
  height: rem(48);
  border-radius: rem(32);
  color: var(--color-black);
  font-weight: var(--font-regular);
  border: 1px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;

  &:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
  }

  &.is-active {
    @include title-18;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  @include media(">=tablet") {
    min-width: rem(140);
  }
}
