.testimonial__wrapper {
  padding-bottom: rem(24);

  @include media(">=tablet") {
    padding-bottom: rem(67);
  }
}

.testimonial__title {
  @include title-22;
  margin-bottom: rem(16);

  @include media(">=tablet") {
    @include title-28;
    margin-bottom: rem(32);
  }
}
