.video-w-thumb {
  position: relative;
}

.video-w-thumb__img {
  width: 100%;
  aspect-ratio: 11/7;
  object-fit: cover;
  object-position: center;
}

.video-w-thumb__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;

  svg {
    color: #f3f3fa;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }

    @include media(">=tablet") {
      width: 144px;
      height: 144px;
    }
  }
}
