.landing-content__wrapper {
  padding-top: rem(24);
  padding-bottom: rem(36);

  @include media(">=tablet") {
    padding-top: rem(52);
    padding-bottom: rem(52);
  }
}

.landing-content__body {
  h1,
  h2,
  h3,
  h4 {
    @include title-32;
    margin-bottom: rem(24);

    strong {
      color: var(--color-turquoise-two);
    }

    @include media(">=tablet") {
      @include title-62;
    }
  }

  > *:not(h1):not(h2):not(h3):not(h4) {
    font-size: rem(16);

    @include media(">=tablet") {
      font-size: rem(20);
    }
  }
}
