.blog-search {
  margin-top: rem(24);
  margin-bottom: rem(32);

  @include media(">=tablet") {
    margin-top: rem(49);
    margin-bottom: rem(47);
  }
}

.blog-content {
  padding-bottom: rem(48);

  @include media(">=tablet") {
    padding-bottom: rem(64);
  }
}

.blog-content__results {
  display: grid;
  row-gap: rem(42);
  column-gap: rem(16);
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding-bottom: rem(32);

  @include media(">=tablet") {
    row-gap: rem(36);
    column-gap: rem(32);
    padding-bottom: rem(64);
  }
}

.blog-newsletter {
  margin-top: rem(32);
  display: flex;
  justify-content: center;

  @include media(">=tablet") {
    margin-top: rem(64);
  }
}

.blog-newsletter__btn {
  border-radius: rem(64);

  svg {
    padding: rem(4);
  }
}
