.blog-search-form {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  width: 100%;
}

.blog-search-form__input {
  width: 100%;
  color: var(--color-black);
  display: flex;
  gap: rem(12);
  padding-bottom: rem(13);
  border-bottom: 1px solid var(--color-turquoise-two);

  input {
    flex: 1;
    font-size: rem(18);
  }
}

.blog-search-form__icon {
  color: var(--color-black);
}


.blog-search-form__button {
  width: 100%;
  height: rem(42);
  padding: rem(16) rem(32);
  max-width: rem(328);
}

