.breadcrumb {
  width: 100%;
  position: relative;
}

.breadcrumb__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.breadcrumb__item {
  @extend %description-14-24;

  color: var(--color-primary);
  font-weight: var(--font-regular);
  margin-right: rem(8);
  a {
    display: block;
    color: var(--color-primary);
  }
  .icon {
    margin-left: rem(8);
    svg {
      width: rem(16);
      height: rem(16);
    }
  }
}
