.breadcrumb {
  display: flex;
  gap: rem(4);
  align-items: center;
}

.breadcrumb__label {
  color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.separator {
  color: var(--color-white);
  padding: rem(3) rem(2);
}

.breadcrumb__label.current {
  color: var(--color-primary);
  font-weight: var(--font-bold);
}
