.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: rem(4);
  align-items: center;
}

.breadcrumb__label {
  color: var(--color-white);
}

.separator {
  color: var(--color-white);
  padding: rem(3) rem(2);
}

.breadcrumb__label.current {
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

.breadcrumb.black {
  .separator {
    color: var(--color-black);
  }
  .breadcrumb__label {
    color: var(--color-black);
  }
  .breadcrumb__label.current {
    color: var(--color-primary);
  }
}
