.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--font);
  font-weight: var(--font-bold);
  font-size: rem(18);
  border-radius: rem(8);
  padding: rem(14) rem(31);

  gap: rem(8);
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;

  &-primary {
    background-color: var(--color-primary);
    color: var(--color-black);
    border: 1px solid var(--color-primary);

    &:hover,
    &:focus {
      background-color: var(--color-turquoise-one);
      color: var(--color-black);
      border-color: var(--color-turquoise-one);
    }
  }

  &-primary-one {
    background-color: var(--color-turquoise-one);
    color: var(--color-black);
    border: 1px solid var(--color-turquoise-one);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: var(--color-turquoise-three);
      color: var(--color-white);
      border-color: var(--color-turquoise-three);
    }
  }

  &-primary-outline {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-primary);

    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-light-turquoise);
    }
  }

  &-primary-outline-small {
    background-color: var(--color-light-turquoise);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    padding: rem(8.67) rem(15);
    border-radius: rem(64);
    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-primary);
    }
  }

  &-secondary-one {
    border-radius: rem(64);
    color: var(--color-black);
    background-color: var(--color-light-turquoise);
    border: 1px solid var(--color-light-turquoise);

    &:hover,
    &:focus {
      background-color: var(--color-turquoise-two);
      color: var(--color-black);
      border-color: var(--color-turquoise-two);
    }
  }

  &-secondary-one-outline {
    border-radius: rem(64);
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-secondary-grey);

    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-light-turquoise);
    }
  }

  &-link {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid transparent;

    &:hover,
    &:focus {
      color: var(--color-turquoise-three);
      text-decoration: underline;
    }
  }

  &-sm {
    padding: rem(11) rem(23);
    height: rem(48);
    font-size: rem(16);
    line-height: rem(24);
  }

  &-xs {
    padding: rem(7) rem(15);
    height: rem(40);
    font-size: rem(14);
    line-height: rem(20);
  }

  // &:disabled {
  //   background: var(--color-gray);
  //   color: #e8e8e8;
  //   cursor: not-allowed;
  //   border: 1px solid var(--color-gray);
  //   svg {
  //     path {
  //       stroke: #767877;
  //     }
  //   }
  // }

  // .icon {
  //   @extend .btn-icon;
  // }
}

// .btn-basic-icon {
//   appearance: none;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   background: transparent;
//   padding: 0;

//   font-family: var(--font);
//   @include size(12, 18);
//   // letter-spacing: -#{rem(1.5)};

//   @include media(">=phone") {
//     @include size(16, 20);
//   }

//   @include media(">=tablet") {
//     @include size(20, 20);
//   }

//   .icon {
//     @extend .btn-icon;
//   }
// }

.icon {
  @extend %center;

  cursor: pointer;
}

// Icons
// .btn-icon {
//   svg,
//   img {
//     width: rem(20);
//     height: rem(20);
//   }
//   &.prefix-icon {
//     margin-right: rem(8);
//   }
//   &.suffix-icon {
//     margin-left: rem(8);
//   }

//   @include media(">=tablet") {
//     svg,
//     img {
//       width: rem(40);
//       height: rem(40);
//     }
//     &.prefix-icon {
//       margin-right: rem(24);
//     }
//     &.suffix-icon {
//       margin-left: rem(24);
//     }
//   }
// }

// // Btn with animation
// .mr-btn {
//   @extend .btn;

//   // width: 100%;
//   position: relative;
//   outline: 0;
//   overflow: hidden;

//   .prefix-icon,
//   .suffix-icon {
//     svg,
//     img {
//       width: rem(24);
//       height: rem(24);
//     }
//   }

//   &-primary {
//     background-color: var(--color-primary);
//     color: var(--color-black);
//     padding: rem(16) rem(32);
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     width: 742px;
//     height: 79px;
//     left: 0;
//     bottom: -79px;
//     background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNzEiIGhlaWdodD0iNTguNDgiIHZpZXdCb3g9IjAgMCAzNzEgNTguNDgiPg0KICA8cGF0aCBpZD0iVHJhemFkb184NzMxIiBkYXRhLW5hbWU9IlRyYXphZG8gODczMSIgZD0iTS0xNDksNzI0SDIyMlY2NzEuNTQ5Yy0xMC4yMTItNy45OTQtMjYuOTE5LTcuOTk0LTM3LjEzMSwwaDBjLTEwLjIxMiw3Ljk5NC0yNi43NCw3Ljk5NC0zNi45NTIsMGgwYy0xMC4yMTItNy45OTQtMjcuMDUzLTcuOTk0LTM3LjI2NSwwaDBjLTEwLjIxMiw3Ljk5NC0yNi43NCw3Ljk5NC0zNi45NTIsMGgwYy0xMC4yMTItNy45OTQtMjcuMDUzLTcuOTk0LTM3LjI2NSwwaDBjLTEwLjIxMiw3Ljk5NC0yNi43NCw3Ljk5NC0zNi45NTIsMGgwYy0xMC4yMTItNy45OTQtMjcuMDUzLTcuOTk0LTM3LjI2NSwwaDBjLTEwLjIxMiw3Ljk5NC0yNi43NCw3Ljk5NC0zNi45NTIsMGgwYy0xMC4yMTItNy45OTQtMjYuOTYzLTguMDYyLTM3LjE3NS0uMDY4SC0xMTJjLTEwLjIxMiw3Ljk5NC0yNi43ODMsOC4wNDktMzcsLjA1NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0OSAtNjY1LjUyKSIgZmlsbD0iIzkyZGNlNSIgb3BhY2l0eT0iMC4zOSIvPg0KPC9zdmc+DQo=);
//     background-position: 0 top;
//     background-repeat: repeat-x;
//     transform-origin: center bottom;
//     // opacity: 0.25;
//     animation: move_wave 3s linear infinite;
//     transition: all 0.6s ease;
//   }

//   &:hover {
//     &::before {
//       bottom: -40px;
//       @include media(">=desktop-l") {
//         bottom: -35px;
//       }
//       @include media(">=desktop-xl") {
//         bottom: -30px;
//       }
//     }
//   }
// }
