.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--font);
  font-weight: var(--font-bold);
  font-size: rem(18);
  border-radius: rem(8);
  padding: rem(14) rem(31);

  gap: rem(8);
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;

  &-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);

    &:hover,
    &:focus {
      background-color: var(--color-turquoise-one);
      color: var(--color-black);
      border-color: var(--color-turquoise-one);
    }
  }

  &-primary-one {
    background-color: var(--color-turquoise-one);
    color: var(--color-black);
    border: 1px solid var(--color-turquoise-one);

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }

  &-primary-one-shadow {
    background-color: var(--color-turquoise-one);
    color: var(--color-black);
    border: 1px solid var(--color-turquoise-one);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);
    }
  }

  &-primary-outline {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-primary);

    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-light-turquoise);
    }
  }

  &-primary-two-outline {
    background-color: transparent;
    color: var(--color-turquoise-two);
    border: 1px solid var(--color-turquoise-two);

    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-turquoise-three);
      border-color: var(--color-light-turquoise);
    }
  }

  &-primary-outline-small {
    background-color: var(--color-light-turquoise);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    padding: rem(8.67) rem(15);
    border-radius: rem(64);
    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-primary);
    }
  }

  &-secondary-one {
    border-radius: rem(64);
    color: var(--color-black);
    background-color: var(--color-light-turquoise);
    border: 1px solid var(--color-light-turquoise);

    &:hover,
    &:focus {
      background-color: rgba(7, 200, 204, 0.3);
      color: var(--color-black);
      border-color: transparent;
    }
  }

  &-secondary-one-outline {
    border-radius: rem(64);
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-secondary-grey);

    &:hover,
    &:focus {
      background-color: var(--color-light-turquoise);
      color: var(--color-black);
      border-color: var(--color-light-turquoise);
    }
  }

  &-black {
    border-radius: rem(64);
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-black);
      border-color: var(--color-white);
    }
  }

  &-link {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid transparent;

    &:hover,
    &:focus {
      color: var(--color-turquoise-one);
      text-decoration: underline;
    }
  }

  &-sm {
    padding: rem(11) rem(23);
    height: rem(48);
    font-size: rem(16);
    line-height: rem(24);
  }

  &-xs {
    padding: rem(7) rem(15);
    height: rem(40);
    font-size: rem(14);
    line-height: rem(20);
  }

  // &:disabled {
  //   background: var(--color-gray);
  //   color: #e8e8e8;
  //   cursor: not-allowed;
  //   border: 1px solid var(--color-gray);
  //   svg {
  //     path {
  //       stroke: #767877;
  //     }
  //   }
  // }

  // .icon {
  //   @extend .btn-icon;
  // }
}

.icon {
  @extend %center;

  cursor: pointer;
}
