.move-cursor {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform, opacity;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: opacity 0.25s ease;
  z-index: 201;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
    transition: opacity 0.25s ease,
      transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__circle {
    position: relative;
    width: rem(54);
    height: rem(54);
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    transform: scale(0.75);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &__triangle {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    display: block;
    width: 0;
    height: 0;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
    &:nth-child(2) {
      left: -1rem;
      border-right: 0.35rem solid var(--color-primary);
    }
    &:nth-child(3) {
      right: -1rem;
      border-left: 0.35rem solid var(--color-primary);
    }
  }
  &.active {
    > div {
      transform: translate3d(-50%, -50%, 0) scale(1.3);
    }
    .move-cursor {
      &__triangle {
        &:nth-child(2) {
          left: -0.5rem;
        }
        &:nth-child(3) {
          right: -0.5rem;
        }
      }
    }
  }
}

.is-draggable {
  &:hover ~ .move-cursor {
    opacity: 1;
  }
}
