.form-field {
  position: relative;
  padding: 0;
  margin-bottom: rem(32);

  @include media(">=phone") {
    margin-bottom: rem(40);
  }

  textarea {
    overflow: hidden;
    resize: none;
    max-height: rem(85);

    @include media(">=phone") {
      max-height: rem(120);
    }
  }

  input,
  select,
  textarea {
    @include size(20, 32);
    width: 100%;
    display: block;
    background: var(--primary);
    border-radius: 0;
    color: rgba($color: $color-white, $alpha: 0.5);
    font-family: var(--font-poppins);
    font-weight: var(--regular);
    padding: rem(8.5) 1px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgba($color: $color-secondary, $alpha: 0.4);
    transition: all 0.3s ease-in-out;

    @include media(">=phone") {
      @include size(32, 32);
      padding-top: rem(10.8);
      padding-bottom: rem(10.8);
    }

    &:focus {
      color: var(--white);
      border-color: var(--danger);
    }

    &::placeholder {
      color: var(--danger);
    }
  }

  span.wpcf7-form-control-wrap {
    &.is-active {
      & ~ label {
        @include size(12, 20);
        transform: translateY(calc(50% + -#{rem(20)}));
        color: rgba($color: $color-white, $alpha: 0.69);

        @include media(">=phone") {
          @include size(16, 20);
          transform: translateY(calc(50% + -#{rem(32)}));
        }
      }
    }
  }

  label {
    @include size(14, 20);
    font-family: var(--font-poppins);
    color: var(--white);
    font-weight: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
    transform: translateY(calc(#{rem(20)} - 50%));
    z-index: 1;

    @include media(">=phone") {
      @include size(18, 20);
      transform: translateY(calc(#{rem(32)} - 50%));
    }
  }
}

.form-field-select {
  position: relative;

  select {
    white-space: normal;
    word-wrap: break-word;
    padding-right: 32px;
  }

  option {
    @include size(14, 20);
    color: var(--white);
    word-break: break-all;
  }

  label {
    opacity: 0;
    visibility: hidden;
  }

  span.wpcf7-form-control-wrap {
    &.is-active {
      & ~ label {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    right: 0;
    line-height: 0;
    width: 24px;
    background: set-img("arrow.svg") no-repeat center;
    transform: translateX(-20px);
    pointer-events: none;
  }
}

.form-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: rem(32);

  .wpcf7-list-item {
    margin: 0;
    display: flex;
  }

  > div:not(.checkbox-row) {
    @include size(14, 14);
    margin-left: rem(10);
    color: var(--white);
    font-weight: var(--light);

    a {
      @include size(14, 14);
      color: var(--white);
      font-weight: var(--medium);
      text-decoration: underline;
    }
  }
}

.form-field-file {
  input[type="file"]::-webkit-file-upload-button {
    background: transparent;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.form-field-radio {
  @include size(16, 16);
  color: var(--white);
  font-weight: var(--light);
  margin-bottom: rem(32);

  > label {
    display: block;
    margin-bottom: rem(10);
    font-weight: var(--medium);

    & ~ br {
      display: none;
    }
  }

  &.is-vertical {
    .wpcf7-radio {
      display: flex;
      flex-direction: column;
    }

    .wpcf7-list-item {
      padding: 5px 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  .wpcf7-list-item label {
    display: flex;
  }

  .wpcf7-list-item-label {
    cursor: pointer;
    margin-left: rem(10);
  }

  input[type="radio"] {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: border-color ease 280ms;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;

    &:checked {
      &::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      background: var(--white);
      transform: translate(-50%, -50%) scale(0.5);
      transition: opacity 0.2s ease, transform 0.1s ease;
      border-radius: 50%;
    }
  }
}

.form-field-date {
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    color: var(--white);
  }
}

.form-info {
  margin-bottom: rem(16);
  p {
    @include size(16, 24);
    color: var(--danger);
    font-weight: var(--medium);
  }
}

.form-field-wrap {
  position: relative;
}

.form-field-valid-tip {
  display: block;
  color: #dc3232;
  font-size: 11px;
  font-weight: normal;
  line-height: 1em;
  margin-top: 6px;
  width: 100%;

  &[aria-hidden="true"] {
    display: none;
  }
}

.form-response-output {
  @include size(14, 16);
  font-weight: var(--light);
  margin: 16px 0 0;
  border: 1px solid var(--secondary);
  border-color: #dc3232;
  padding: 8px 16px;

  &[aria-hidden="true"] {
    display: none;
  }
}

.checkbox-row {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid var(--white);
    border-radius: 4px;
    opacity: 1;
    &:checked {
      & + span {
        &:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          background: var(--white);
        }
      }
      background: var(--white);

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
      transition: opacity 0.2s ease, transform 0.1s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      background: set-img("check.svg") no-repeat center;
      background-size: contain;
    }
  }
  label {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    &.error {
      display: block;
      max-width: 280px;
      width: 100%;
      font-size: 12px;
      color: var(--red);
      margin: 5px 0 0 24px;
      pointer-events: none;
    }
    &.active {
      .active {
        transform: translateY(-10px);
        color: black;
        font-size: 11px;
        font-weight: 700;
        pointer-events: none;
        left: 10px;
      }
    }
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
  }
}

.form-field__error {
  font-size: rem(12);
  color: var(--danger);
  pointer-events: none;
  transform: translate(rem(15), 0);
  position: absolute;
  top: 100%;
  left: 0;
}

.ajax-loader {
  width: 40px;
  height: 47px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.68, 0, 0.265, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  &.active {
    opacity: 1;
  }
}

.wpcf7 form .wpcf7-response-output {
  @include size(14, 16);
  color: var(--white);
  font-weight: var(--light);
  margin: 16px 0 0;
  border: 1px solid var(--secondary);

  @include media(">=tablet") {
    @include size(16, 24);
  }
}

.wpcf7 form.invalid .wpcf7-response-output {
  border-color: #dc3232;
  padding: 8px 16px;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
  line-height: 1em;
  width: 100%;
  margin-top: 6px;
}

.form-submit {
  text-align: right;
  .wpcf7-submit,
  .btn-submit {
    @include size(16, 24);
    color: var(--white);
    font-weight: var(--semi-bold);

    @include media(">=tablet") {
      @include size(20, 24);
    }

    br {
      display: none;
    }
  }

  .wpcf7-spinner {
    display: none;
  }
}
