.form-field {
  position: relative;

  label {
    position: absolute;
    left: 0;
    padding: 0;
    margin: -1px;

    white-space: nowrap;
    border: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    color: var(--color-asu-grey);
  }

  input,
  select,
  textarea {
    color: var(--color-asu-grey);
    width: 100%;
    border-bottom: 1px solid var(--color-asu-grey);
    padding: 0 0 rem(8);
    transition: border-color 0.2s ease-in;

    &::placeholder {
      color: var(--color-asu-grey);
    }

    // Anima el label cuando tiene foco O cuando no está vacío
    &:focus,
    &:not(:placeholder-shown) {
      border-bottom-color: var(--color-primary);

      &::placeholder {
        color: transparent;
      }

      ~ label {
        transform: translateY(-15px);
        font-size: rem(13);
        color: var(--color-asu-grey);
      }
    }

    // Para select, necesitamos una clase adicional ya que no tiene placeholder
    &.has-value {
      ~ label {
        transform: translateY(-15px);
        font-size: rem(12);
        color: var(--color-primary);
      }
    }
  }

  .error-message {
    display: none;
  }

  &.has-error {
    .error-message {
      display: block;
    }

    input,
    select,
    textarea {
      border-bottom-color: var(--color-error);
      color: var(--color-error);
      ~ label {
        transform: translateY(-15px);
        font-size: rem(13);
        color: var(--color-asu-grey);
      }
    }
  }
}

.form-field-select {
  select {
    padding-right: rem(32);
  }

  &::after {
    content: "";
    position: absolute;
    color: var(--color-asu-grey);
    top: 25%;
    right: rem(6);
    transform: translateY(-50%) rotate(45deg);
    width: rem(6.4);
    height: rem(6.4);
    pointer-events: none;
    transition: transform 0.2s ease-in-out;

    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
  }

  &:has(select:focus)::after {
    transform: translateY(-50%) rotate(225deg);
  }

  &.error {
    select {
      &::after {
        color: var(--color-error);
      }
    }
  }
}

.form-field-radio {
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  &.is-home {
    fieldset {
      flex-direction: column;
      @include media(">=desktop-s") {
        flex-direction: row;
      }
    }
  }

  legend {
    display: block;
    margin-bottom: rem(5);
  }

  .radio-option input[type="radio"] {
    display: none;
  }

  .radio-option label {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: var(--color-black);
    position: relative;
    cursor: pointer;
  }

  .radio-option label::before {
    content: "";
    display: block;
    width: rem(24);
    height: rem(24);
    min-width: rem(24);
    min-height: rem(24);
    border: 1px solid var(--color-primary);
    border-radius: 999px;
    background-color: var(--color-white);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }

  .radio-option label::after {
    content: "";
    position: absolute;
    left: rem(6);
    top: rem(6);
    width: rem(12);
    height: rem(12);
    border-radius: 999px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .radio-option input[type="radio"]:checked + label::after {
    background-color: var(--color-primary);
  }

  &.error {
    .radio-option {
      label {
        color: var(--color-error);
      }
    }
  }
}

.form-field-checkbox {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    gap: rem(8);
    cursor: pointer;
  }

  .custom-checkbox {
    width: rem(16);
    height: rem(16);
    border: 1px solid var(--color-asu-grey);
    border-radius: rem(4);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
    position: relative;
  }

  .custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-image: var(--white-check);
    transition: opacity 0.2s ease-in-out;
    width: rem(11);
    height: rem(8);
  }

  input[type="checkbox"]:checked + label .custom-checkbox {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  input[type="checkbox"]:checked + label .custom-checkbox::after {
    opacity: 1;
  }

  label .text {
    a {
      color: var(--color-turquoise-three);
      text-decoration: underline;
    }
  }
}

.error-message {
  margin-top: rem(8);
  display: block;
  font-size: rem(12);
  color: var(--color-error);
  pointer-events: none;
}
