.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;

  &.active {
    display: flex;
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-wrapper {
  position: relative;
}

.modal-container {
  position: relative;
  z-index: 2;
  max-width: 400px;
  border-radius: rem(12);
  width: calc(100dvw - 32px);
  max-height: calc(100dvh - 60px);
  background: var(--color-white);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  animation: modal-fade-in 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto;
  flex: 1;
  // padding: 0 rem(20) rem(22);
}

.modal-close {
  z-index: 3;
  border: none;
  background: none;
}

.modal.default {
  .modal-header {
    padding: rem(22) rem(20) 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
  }

  .modal-close.float {
    display: none;
  }

  .modal-close:not(.float) {
    cursor: pointer;
    margin-left: auto;
    border-radius: rem(6);

    &:hover {
      background: rgba(255, 0, 0, 0.1);

      svg {
        color: var(--color-danger);
      }
    }
  }
}

.modal.float {
  .modal-header {
    position: relative;
  }

  .modal-close:not(.float) {
    display: none;
  }

  .modal-close.float {
    padding: rem(10);
    cursor: pointer;
    border-radius: rem(9999);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    position: absolute;
    right: rem(-7);
    top: rem(-20);

    svg {
      width: rem(34);
      height: rem(34);
    }

    &:hover {
      background: rgb(255, 225, 225);

      svg {
        color: var(--color-danger);
      }
    }
  }
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
