.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: var(--black);
  &.show {
    display: block;
  }

  &__dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    position: relative;
    width: auto;
    pointer-events: none;
    max-width: 95vw;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--black);
    background-clip: padding-box;
    outline: 0;
  }
}
