.preloader {
  @extend %center;

  height: 100%;
  width: 100%;
  background: var(--primary);
  color: var(--white);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: z("preloader");
  cursor: progress;
}

.preloader__text {
  @extend %title-20;

  max-width: 67rem;
  opacity: 0;

  span span {
    @extend %title-20;

    display: inline-block;
    transform-origin: center center 0.5em;
  }
}

.preloader__number {
  @extend %description-14-24;

  bottom: 7.3rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);

  @include media("<phone") {
    font-size: 2.4rem;
  }
}

.preloader__number__text {
  display: inline-block;
}
