%swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
  gap: rem(8);
  margin-top: rem(8);

  @include media(">=phone") {
    margin-top: rem(16);
    justify-content: flex-start;
  }

  .swiper-pagination-bullet {
    margin: rem(12) 0 !important;
    width: rem(18);
    height: rem(3);
    border-radius: 0;
    background-color: var(--color-secondary-grey);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
}

.post-swiper {
  .swiper-container {
    padding-inline: rem(16);
    margin-inline: rem(-16);

    @include media(">=phone") {
      padding-inline: rem(24);
      margin-inline: rem(-24);
    }

    @include media(">=tablet") {
      padding-inline: rem(213);
      margin-inline: rem(-213);
    }

    @include media(">=desktop") {
      padding-inline: calc((100vw - 1014px) / 2 + 213px);
      margin-inline: calc(-1 * ((100vw - 1014px) / 2 + 213px));
    }

    .swiper-slide {
      width: auto;
      height: auto;
    }
  }
  .swiper-pagination {
    @extend %swiper-pagination;
  }
}

.careers-hero-swiper {
  .swiper-pagination {
    @extend %swiper-pagination;
    @extend .x-container;

    @include media("<phone") {
      display: none;
    }
  }
}

.post-swiper-desktop {
  @extend .post-swiper;

  @include media("<phone") {
    .swiper-wrapper {
      display: block;
      transform: none;
    }

    .swiper-slide {
      margin-right: 0 !important;
    }

    .swiper-pagination {
      display: none;
    }
  }
}

