.post-swiper {
  .swiper-container {
    padding-inline: rem(16);
    margin-inline: rem(-16);

    @include media(">=phone") {
      padding-inline: rem(24);
      margin-inline: rem(-24);
    }

    @include media(">=tablet") {
      padding-inline: rem(213);
      margin-inline: rem(-213);
    }

    @media (min-width: 1440px) {
      padding-inline: calc((100vw - 1014px) / 2 + 213px);
      margin-inline: calc(-1 * ((100vw - 1014px) / 2 + 213px));
    }

    .swiper-slide {
      width: auto;
      height: auto;
    }
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    position: static;
    gap: rem(8);
    margin-top: rem(8);

    @include media(">=phone") {
      margin-top: rem(16);
      justify-content: flex-start;
    }

    .swiper-pagination-bullet {
      margin: rem(12) 0 !important;
      width: rem(18);
      height: rem(3);
      border-radius: 0;
      background-color: var(--color-secondary-grey);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-primary);
    }
  }
}
