.swiper-container {
  &.custom-navigation {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        content: none;
      }
    }
  }

  &.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
}

.swiper-pagination {
  line-height: 10px;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--mercury);
    opacity: 1;
    margin: 0 5px;

    &-active {
      opacity: 1;
      background: var(--secondary);
    }
  }
}
