.post-swiper {
  .swiper-container {
    .swiper-slide {
      width: auto;
      height: auto;
    }
  }
  .swiper-pagination {
    display: flex;
    position: static;
    gap: rem(8);
    margin-top: rem(16);

    .swiper-pagination-bullet {
      margin: rem(12) 0 !important;
      width: rem(18);
      height: rem(3);
      border-radius: 0;
      background-color: var(--color-secondary-grey);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-primary);
    }
  }
}
