/**
  * Swiper Components Styles
  */
%swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  position: static;
  gap: rem(8);
  margin-top: rem(8);

  @include media(">=phone") {
    margin-top: rem(16);
    justify-content: flex-start;
  }

  .swiper-pagination-bullet {
    margin: rem(12) 0 !important;
    width: rem(18);
    height: rem(3);
    border-radius: 0;
    background-color: var(--color-secondary-grey);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
}

%swiper-pagination-fraction {
  display: block;
  position: static;
  @include title-20;
  color: var(--color-asu-grey);
}

%swiper-primary-navigation {
  .swiper-primary-button-prev,
  .swiper-primary-button-next {
    border-radius: 999px;
    border: 1px solid var(--color-turquoise-three);
    position: relative;
    cursor: pointer;

    &[data-size="responsive"] {
      &::before {
        width: 27px;
        height: 27px;

        @include media(">=tablet") {
          width: 43px;
          height: 43px;
        }
      }
    }

    &::before {
      margin: rem(5);
      content: "";
      display: block;
      width: 43px;
      height: 43px;
      background-color: var(--color-turquoise-three);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
    }

    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
      border-color: var(--color-secondary-grey);

      &::before {
        background-color: var(--color-secondary-grey);
      }
    }

    &:not([aria-disabled="true"]):hover {
      border-color: var(--color-turquoise-two);

      &::before {
        background-color: var(--color-turquoise-two);
      }
    }
  }

  .swiper-primary-button-prev::before {
    mask-image: var(--swiper-prev-icon);
    -webkit-mask-image: var(--swiper-prev-icon);
  }

  .swiper-primary-button-next::before {
    mask-image: var(--swiper-next-icon);
    -webkit-mask-image: var(--swiper-next-icon);
  }
}

/**
 * Swiper types
 * Variants
  * - [data-width="wide"] - Full width swiper
  * - [data-width="compact"] - Full width swiper below tablet screen size
 */
.post-swiper {
  &[data-width="compact"] .swiper-container {
    padding-inline: rem(16);
    margin-inline: rem(-16);

    @include media(">=phone") {
      padding-inline: rem(24);
      margin-inline: rem(-24);
    }
    @include media(">=tablet") {
      padding-inline: 0;
      margin-inline: 0;
    }
  }

  &[data-width="wide"] .swiper-container {
    padding-inline: rem(16);
    margin-inline: rem(-16);

    @include media(">=phone") {
      padding-inline: rem(24);
      margin-inline: rem(-24);
    }

    @include media(">=tablet") {
      padding-inline: rem(213);
      margin-inline: rem(-213);
    }

    @include media(">=desktop") {
      padding-inline: calc((100vw - 1014px) / 2 + 213px);
      margin-inline: calc(-1 * ((100vw - 1014px) / 2 + 213px));
    }
  }

  .swiper-container {
    .swiper-slide {
      width: auto;
      height: auto;

      & > * {
        margin-inline: auto;
      }
    }
  }

  .swiper-counter {
    display: flex;
    align-items: center;
  }

  .swiper-pagination.swiper-pagination-bullets {
    @extend %swiper-pagination-bullets;
  }

  .swiper-pagination.swiper-pagination-fraction {
    @extend %swiper-pagination-fraction;
  }

  .swiper-navigation {
    display: flex;
    gap: rem(16);
    margin-top: rem(24);

    &[data-size="responsive"] {
      gap: rem(10);

      @include media(">=tablet") {
        gap: rem(16);
      }
    }
  }

  @extend %swiper-primary-navigation;
}

.post-swiper-desktop {
  @extend .post-swiper;

  @include media("<phone") {
    .swiper-wrapper {
      display: block;
      transform: none;
    }

    .swiper-slide {
      margin-right: 0 !important;
    }

    .swiper-pagination {
      display: none;
    }
  }
}

.hero-swiper {
  .swiper-pagination {
    @extend %swiper-pagination-bullets;
    @extend .x-container;

    @include media("<phone") {
      display: none;
    }
  }
}

.international-agreements {
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper-container {
    .swiper-slide {
      width: auto;
      height: auto;
      padding: rem(6) 0;
    }
  }
}

.switch-pagination-navigation {
  .swiper-pagination.swiper-pagination-bullets {
    @include media(">=phone") {
      display: none;
    }
  }

  .swiper-navigation {
    @include media("<phone") {
      display: none;
    }
  }
}
