.navbar {
  width: 100%;
  background-color: var(--color-bay-of-many);
  padding: 16px 0;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 1030;
  @include media('<=phone-xl') {
    padding: 10px 0;
  }
  @include media('>phone-xl', '<=tablet-lg') {
    padding: 13px 0;
  }
  @include media('<=tablet-lg') {
    background-color: var(--color-bay-of-many-approx);
    top: 0;
  }

  &__logo_brand {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    @include media('<=tablet-lg') {
      max-width: 125px;
    }
  }

  &__menu {
    @include media('<=tablet-lg') {
      display: none !important;
    }

    li,
    a {
      display: inline-block;
    }

    li {
      margin: 0 8px 3px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      font-weight: var(--semi-bold);
      font-size: 14px;
      color: var(--color-white);
      position: relative;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: var(--color-white);
        transition: width var(--def-transition-300ms);
        transform: translateX(-50%);
        position: absolute;
        top: 100%;
        left: 50%;
      }
    }
  }

  &__toggle_menu {
    display: none;

    @include media('<=tablet-lg') {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 24px;
    }

    &__active {
      span {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      margin: 3px 0;
      transition: var(--def-transition-300ms);
      will-change: width;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
