.header {
  width: 100%;
  height: 350px;
  position: relative;

  @include media('<=phone-xl') {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100) - 59px);
  }

  @include media('>phone-xl', '<=tablet-lg') {
    height: 80vh;
    height: calc((var(--vh, 1vh) * 80) - 65px);
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(2 0 36);
    background: linear-gradient(
      180deg,
      rgb(2 0 36 / 74.7%) 0%,
      rgb(32 32 32 / 49.8%) 30%,
      rgb(32 32 32 / 0.186%) 100%
    );
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    &__desktop {
      @include media('<=tablet-lg') {
        display: block;
      }
    }

    &__desktop {
      @include media('<=tablet-lg') {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @include media('<=tablet-lg') {
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__container {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    @include media('<=phone-xl') {
      padding: 15px;
    }

    @include media('>phone-xl', '<=tablet-lg') {
      padding: 25px 15px;
    }
  }

  &__headline {
    position: relative;

    div {
      width: 29px;
      height: 18px;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0;

      @include media('<=tablet-lg') {
        display: none;
      }
    }

    h1 {
      font-weight: var(--bold);
      font-size: 32px;
      color: var(--color-white);
      line-height: 1.4;

      @include media('<=tablet-lg') {
        display: flex;
        flex-flow: column;
        text-align: right;
      }
    }

    span {
      padding: 5px 10px;

      &:first-of-type {
        background-color: var(--color-bay-of-many);
      }

      &:last-of-type {
        background-color: var(--color-night-shadz);
      }
    }
  }
}
