#sections-help{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#sections-help p{
  position: relative;
  width: 50%;
}

#sections-help p img{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  border: 1px solid #283E84;
}

#sections-help p:hover img{
  display: block;
}

#edittag {
  max-width: 100%;
}
