.category {
  width: 100%;
  background: var(--gray);
  position: relative;
}

.category__wrapper {
  padding: rem(48) rem(24) rem(40);
  @include media(">=tablet") {
    padding: rem(64) rem(92) rem(82);
  }
}

.category__top-title {
  @extend %top-title;

  i {
    color: var(--secondary);
  }

  @include media(">=tablet") {
    margin-bottom: rem(17);
  }
}

.category__name {
  margin-bottom: rem(20);

  @include media(">=tablet") {
    margin-bottom: rem(35);
  }

  h2 {
    @extend %title-77;
    color: var(--primary);
    letter-spacing: 0;
  }
}

.category__description {
  p {
    @extend %description-12-20;
    color: var(--primary);
    font-weight: var(--light);
  }
}

/**
 * Category Swiper
 */
.category__swiper {
  width: 100%;
  position: relative;
  padding-bottom: rem(16);

  @include media(">=tablet") {
    padding-bottom: rem(56);
  }

  &.is-last {
    padding-bottom: rem(64);

    @include media(">=tablet") {
      padding-bottom: rem(120);
    }
  }

  .swiper-container {
    padding: 0 rem(24) rem(34);

    @include media(">=tablet") {
      padding: 0 rem(92);
    }

    .swiper-slide {
      width: 100%;
      height: auto;

      @include media(">=phone-576") {
        width: calc(50% - 12px);
      }

      @include media(">=tablet") {
        width: calc((100% / 3) - (64px / 3));
      }
    }
  }

  .swiper-pagination {
    @include media(">=phone") {
      display: none;
    }
  }
}

/**
 * Category Tab
 */
.category-tab {
  width: 100%;
  background: var(--white);
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.category-tab__wrapper {
  @extend %center;
  padding: 0 rem(24);
}

.category-tab__group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.category-tab__item {
  position: relative;

  @include media("<phone-576") {
    max-width: rem(200);
  }

  @include media(">=tablet") {
    min-width: rem(288);
  }
}

.category-tab__item-link {
  display: block;
  padding: rem(8) rem(12);
  transition: width 0.5s ease;
  white-space: nowrap;

  @include media("<tablet") {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include media(">=tablet") {
    transition: all 0.5s ease;
    padding: rem(23) rem(20) rem(25);
  }

  * {
    @include size(14, 20);
    color: var(--primary);
    font-family: var(--font-poppins);

    @include media(">=tablet") {
      @include size(20, 24);
      font-weight: var(--medium);
    }
  }

  .name {
    white-space: nowrap;

    @include media("<tablet") {
      display: none;
    }
  }

  &.is-active {
    position: relative;
    color: var(--white);
    background: var(--danger);
    margin-top: rem(-10);
    padding: rem(12) rem(10);

    * {
      color: var(--white);
    }

    .name {
      display: inline;
    }

    @include media(">=phone-576") {
      padding: rem(14);
    }

    @include media(">=tablet") {
      margin-top: rem(-24);
      padding: rem(32) rem(20) rem(33);
    }
  }

  @include media(">=tablet") {
    &:hover {
      position: relative;
      background: var(--danger);
      margin-top: rem(-24);
      padding: rem(32) rem(20) rem(33);

      * {
        color: var(--white);
      }

      .name {
        display: inline;
      }
    }
  }
}
