.hero {
  background: var(--gray);
  min-height: rem(570);
  // @include media("height>720px") {
  //   min-height: rem(1070);
  // }
}

.hero__box__wrapper {
  padding: rem(100) rem(20);

  @include media("<tablet") {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media(">=tablet") {
    padding: rem(322) rem(368) rem(100);
  }
}

.hero__bend__bottom {
  svg path {
    fill: var(--gray);
  }
}

.hero__box__pagination {
  &.is-absolute {
    @include media("<tablet") {
      bottom: rem(88);
    }
  }
}
