/**
 * Product Card
 */

.product-card {
  width: 100%;
  height: 100%;
  background: var(--white);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: rem(300);
    transition: 0.3s linear;
    position: absolute;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-image: linear-gradient(
      to top,
      rgba($color: $color-black, $alpha: 0.55) 0%,
      transparent 100%
    );

    @include media(">=tablet") {
      height: rem(494);
    }
  }

  @include media(">=tablet") {
    &:hover {
      .product-card__overlay {
        opacity: 1;
        visibility: visible;
        background-position: 100% -#{rem(30)};
        @include media(">desktop") {
          background-position: 100% -#{rem(20)};
        }
      }
      .product-card__overlay-link {
        transform: translateX(0);
      }
    }
  }
}

.product-card__image {
  img {
    display: block;
    width: 100%;
    height: rem(436);
    object-fit: cover;
    object-position: center;

    @include media(">=tablet") {
      height: rem(746);
    }
  }
}

.product-card__caption {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rem(24);
  padding-right: rem(40);
  z-index: 2;

  @include media(">=tablet") {
    padding: rem(54) rem(45);
  }
}

.product-card__title {
  margin-bottom: rem(16);
  a {
    @include size(28, 32);
    color: var(--danger);
    font-weight: var(--semi-bold);
    text-transform: uppercase;

    @include media(">=tablet") {
      @include size(40, 42);
      font-weight: var(--bold);
    }
  }
}

.product-card__description {
  @extend %description-16;
  color: var(--white);
  font-weight: var(--regular);
}

.product-card__link {
  color: var(--white);

  @include media("<tablet") {
    svg {
      [fill="#d64935"] {
        fill: var(--white);
      }
      [stroke="#d64935"] {
        stroke: var(--white);
      }
    }
  }

  @include media(">=tablet") {
    display: none;
  }

  i {
    color: var(--white);
  }
}

/**
* Product Card Overlay
*/
.product-card__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDY5LjY0NSIgaGVpZ2h0PSI3OTQuNTg0IiB2aWV3Qm94PSIwIDAgMTA2OS42NDUgNzk0LjU4NCI+DQogIDxwYXRoIGlkPSJBZ3VhIiBkPSJNLTE0OC4wOTQsMTQ1OS4wNmwxMDY4Ljg4NiwxLjAxMVY2NzQuMTQyYy0yOS40NDctMTEuNDEyLTc3LjM2My0xMS40MTItMTA2LjgxLDBoLS4yNTljLTI5LjQ0NywxMS40MTItNzcuMSwxMS40MTItMTA2LjU1MSwwaC0uMzg2Yy0yOS40NDctMTEuNDEyLTc3LjM2My0xMS40MTItMTA2LjgxLDBoLS4yNTljLTI5LjQ0NywxMS40MTItNzcuMSwxMS40MTItMTA2LjU1MSwwaC0uMzg2Yy0yOS40NDctMTEuNDEyLTc3LjM2My0xMS40MTItMTA2LjgxLDBoLS4yNTljLTI5LjQ0NywxMS40MTItNzcuMSwxMS40MTItMTA2LjU1MSwwaC0uMzg2Yy0yOS40NDctMTEuNDEyLTc3LjM2My0xMS40MTItMTA2LjgxLDBoLS4yNTljLTI5LjQ0NywxMS40MTItNzcuMSwxMS40MTItMTA2LjU1MSwwbC0uMzg2LS4xYy0yOS40NDctMTEuNDEyLTc3LjM2My0xMS40MTItMTA2LjgxLDBILTQyLjNjLTI5LjQ0NywxMS40MTItNzcuMSwxMS40MTItMTA2LjU1MSwwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ4Ljg1MiAtNjY1LjQ4NikiIGZpbGw9IiMwMzAzM2YiIG9wYWNpdHk9IjAuNzciLz4NCjwvc3ZnPg0K);
  background-position: 0 rem(760);
  background-repeat: repeat-x;
  transform-origin: center top;
  position: absolute;
  top: 0;
  padding: rem(16);
  opacity: 0;
  transition: all 1s ease-in-out;

  @include media("<tablet") {
    display: none;
  }
}

.product-card__overlay-link {
  transform: translateX(-#{rem(100)});
  transition: all 0.8s ease-in-out;
  a {
    color: var(--white);
  }
}
