@mixin screen-size($from: null, $to: null) {
  @if $from != null and $to != null {
    @include media('>#{$from}', '<=#{$to}') {
      @content;
    }
  }

  @if $from != null and $to == null {
    @include media('>=#{$from}') {
      @content;
    }
  }

  @if $from == null and $to != null {
    @include media('<=#{$to}') {
      @content;
    }
  }
}
