.all-careers-tabs__form {
  display: block;
  padding-top: rem(24);
  padding-bottom: rem(24);

  @include media(">=desktop-s") {
    display: none;
  }
}

.all-careers-tabs__container {
  display: flex;
  flex-direction: column;
  margin-top: rem(20);

  .nav-tabs {
    padding-inline: rem(16);
    margin-inline: rem(-16);

    @include media(">=phone") {
      padding-inline: rem(24);
      margin-inline: rem(-24);
    }
  }

  @include media(">=tablet") {
    padding-inline: rem(81);
  }

  @include media(">=desktop-s") {
    margin-top: rem(63);
  }
}
